.icon {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  &-add {
    width: 12px;
    height: 12px;
    fill: $color-white;
  }

  &-cancel {
    width: 22px;
    height: 22px;
    fill: $color-white;
    transform: rotate(45deg);
  }

  &-hand {
    width: 19px;
    height: 25px;
    stroke: $color-white;
    &.icon--right {
      transform: rotate(90deg);
    }
  }

  &--stroke {
    &.icon--dark {
      stroke: $color-dark;
    }
    &.icon--light {
      stroke: $color-white;
    }
  }

  &--dark {
    fill: $color-dark;
  }
}