body {
  font-size: 14px;
  font-family: $font-default;
  font-weight: normal;
  line-height: (19/14);
  color: $color-white;
  background-color: $color-dark;
  min-width: 320px;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  -webkit-font-smoothing: antialiased; /* WebKit  */
  &::placeholder {
  }

  @media screen and (max-width: 768px) and (max-height: 1024px),
    (max-height: 768px) and (max-width: 1024px) {
    overflow: auto;
  }

  @media (min-width: 1680px) {
    font-size: 16px;
  }

  @media (min-width: 2500px) {
    font-size: 22px;
  }
}

* {
  outline: none !important;
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  -webkit-font-smoothing: antialiased; /* WebKit  */
  cursor: none !important;
}

:root {
  font-size: 12px;
}

@media (min-width: 992px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 1680px) {
  :root {
    font-size: 16px;
  }
}

@media (min-width: 2500px) {
  :root {
    font-size: 22px;
  }
}

*::selection {
  background-color: $color-accent;
  color: $color-white;
}

button,
input,
textarea {
  outline: none;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

input,
textarea {
  &:focus:required:invalid {
  }

  &:required:valid {
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h7 {
  font-weight: normal;
}

h1,
.h1 {
  font-family: $font-accent;
  font-size: 5.5rem;
  line-height: (99/89);
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 3.5rem;
  }
}

h2,
.h2 {
  font-family: $font-primary;
  font-size: 5.5rem;
  line-height: (99/89);

  @media screen and (max-width: 768px) {
    font-size: 3.5rem;
  }
}

h3,
.h3 {
  font-family: $font-accent;
  font-size: 1.7rem;
  line-height: (37/27);
  text-transform: uppercase;
}

h4,
.h4 {
  font-family: $font-primary;
  font-size: 1.38rem;
  line-height: (35/25);
}

h5,
.h5 {
  font-family: $font-default;
  font-size: 1rem;
  line-height: (28/18);
}

h6,
.h6 {
  font-family: $font-primary;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  line-height: (28/18);
}

.h7 {
  font-family: $font-default;
  font-size: 1rem;
  line-height: (24/14);
}

a {
  color: $color-white;

  &:hover {
    color: $color-white;
    text-decoration: none;
  }
}

.of-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-inner {
  padding-top: 9rem;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $tr-duration $tr-timing;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.cursor {
  position: fixed;
  z-index: 1111;
  transform: translateZ(150px);
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  will-change: transform;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);

  &__deco {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    transform: translate3D(-50%, -50%, 1px);
    border-radius: 50%;
    background-color: #ffffff;
    color: #101011;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    white-space: nowrap;
  }

  &__follower {
    position: fixed;
    z-index: 1112;
    -webkit-transform: translateZ(45px);
    transform: translateZ(45px);
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    will-change: transform;
    pointer-events: none;
    //transition: transform .5s;

    &__deco {
      position: absolute;
      top: 0;
      left: 0;
      width: 43px;
      height: 43px;
      transform: translate3D(-50%, -50%, 1px);
      /*transition: background .3s cubic-bezier(.04,.96,.32,1),width .3s cubic-bezier(.04,.96,.32,1),height .3s cubic-bezier(.04,.96,.32,1),border-radius .3s cubic-bezier(.04,.96,.32,1),border-width 0ms;*/
      border-radius: 50%;
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  &--arrows &__deco,
  &--close &__deco,
  &--finger &__deco {
    opacity: 0;
  }

  &__follower--arrows &__follower__deco,
  &__follower--close &__follower__deco {
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 0;
    border: none;
  }

  &__follower--arrows &__follower__deco {
    background-image: url("/image/arrow134.svg");
  }

  &__follower--close &__follower__deco {
    background-image: url("/image/polyg.svg");
  }

  &__follower--close-white &__follower__deco {
    background-image: url("/image/polyg-w.svg");
  }

  &__follower--finger &__follower__deco {
    width: 50px;
    height: 50px;
    background-size: 18px 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    background-image: url("/image/hand.svg");
  }

  &--dark &__deco {
    background-color: $color-dark;
  }

  &__follower--dark &__follower__deco {
    border-color: rgba(20, 20, 20, 0.3);
  }

  @media screen and (max-width: 1024px) {
    &,
    &__follower {
      display: none;
    }
  }

  @media screen and (min-width: 2500px) {
    &__follower__deco {
      width: 3.5rem !important;
      height: 3.5rem !important;
    }
  }
}

.text-uppercase {
  text-transform: uppercase !important;
}
