.menu {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  z-index: 1;

  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-menu;
    display: none;
  }

  &__outside {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__btn {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $color-white;
      border-radius: 50%;
      transition: background-color $tr-duration $tr-timing $tr-duration;
    }

    &--open {
      &::after {
        width: 4px;
        height: 4px;
        margin-top: -2px;
        margin-left: -2px;
      }
    }

    &--close {
      &::after {
        width: 14px;
        height: 14px;
        margin-top: -7px;
        margin-left: -7px;
      }
    }

    &--light {
      &::after {
        background-color: $color-dark;
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 50vw;
    height: calc(100vh - 1.5rem);
    padding: 2rem 3rem 2rem;

    text-align: right;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: block;
    perspective: 800px;
    transform-style: preserve-3d;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 0.9;
    transform-origin: 0 center;
    transition: $transition-base;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        $color-dark 100%
      );
      transition: $transition-base;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
    }

    & > span {
      display: flex;
      flex-direction: column;
      max-width: 125px;
      margin-bottom: 1rem;
      margin-right: 5px;
      font-size: 14px;
      line-height: 17px;
      font-family: $font-primary;
      font-style: italic;
      text-transform: none;
    }

    &:hover {
      transform: rotateY(30deg) scale(1.2, 1);
    }

    &:hover:after {
      visibility: visible;
      opacity: 1;
    }
  }

  &__info {
    max-width: 160px;
  }

  &--white {
    color: $color-dark;

    & * {
      color: $color-dark !important;
    }
  }

  &--white &__btn {
    &::after {
      background-color: $color-dark;
    }
  }

  &--white &__bg {
    background-color: $white;
  }

  &--white &__link {
    &:after {
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        $color-white 100%
      );
    }
  }

  &__cta {
    background-color: transparent;
    border: none;
    color: $white;
    display: none;
  }

  &--white &__cta {
    color: $color-dark;
  }

  @media screen and (max-width: 768px) {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    &__content {
      width: 100vw;
      height: 100%;
      padding: 40px 30px 30px 30px;
    }

    &__info {
      display: flex;
      max-width: none;

      p {
        max-width: 70%;
        margin-left: auto;
      }
    }
    &__cta {
      display: block;
    }
  }

  @media screen and (max-width: 450px) {
    &__content {
      padding: 15px;
    }

    &__link {
      flex-direction: column;
      font-size: 20px;

      span {
        order: 2;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
