.button {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $color-dark;
  }

  &--light {
    border-color: rgba($color-white, 0.3);
  }

  &--md {
    width: 44px;
    height: 44px;
  }

  &--xl {
    width: 60px;
    height: 60px;
  }

  @media screen and (min-width: 2500px) {
    &--md {
      width: 3rem;
      height: 3rem;
    }

    &--xl {
      width: 4rem;
      height: 4rem;
    }
  }
}

.cta-btn {
  display: block;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  height: 140px;
  background-color: transparent;
  border: none;
  color: $white;
  z-index: 10;

  &__text {
    font: 14px "Aeroport", "Helvetica", "Arial", sans-serif;
    //letter-spacing: 0.5px;

    /*textPath{
			startOffset: 220px
		}*/
  }

  &__wrap {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

#ctaCanvas {
  position: fixed;
  right: 20px;
  top: 50%;
  left: unset;
  transform: translateY(-50%);
  will-change: transform;
}
