:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 50;
  --itemZ: 2;
  --cameraSpeed: 350;
  --cameraZ: 0;
  --viewportHeight: 0;
}

.viewport {
  height: calc(var(--viewportHeight) * 1px);
  //perspective: 1000px;
}

.viewport .scene3D-container {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  perspective: calc(350 * 1px);
  //perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: 50% 50%;
  /*perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%)
    calc(var(--scenePerspectiveOriginY) * 1%);*/
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}

.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  //transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
  //transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.viewport .scene3D-container .scene3D > .scene3D-element {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
  will-change: transform;
  //opacity: 0;
  //visibility: hidden;
  //pointer-events: none;
  transition: all 0.5s ease 0.125s;
  pointer-events: none;

  &.is-visible,
  &.is-show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }

  &--cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: 0 !important;
    right: 0 !important;

    &.is-visible {
      .bottom-link--category {
        opacity: 1;
      }
    }
  }

  .bottom-link--category {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    border: 1px solid $color-dark;
    border-radius: 50%;
    color: $color-dark;
    transition: opacity 0.5s ease 0.125s;
    opacity: 0;

    span {
      width: 8px;
      height: 8px;
      margin: 0 3px;
      border-radius: 50%;
      background-color: #000000;
    }
  }
}

@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D > .scene3D-element {
    width: 50%;
  }
}

//.viewport .scene3D-container .scene3D > .scene3D-element:nth-child(2n) {
//  right: 0;
//}
//
//.viewport .scene3D-container .scene3D > .scene3D-element:nth-child(2n + 1) {
//  left: 0;
//}
