.socials-box {
	position: absolute;
	bottom: 100%;
	right: 13px;
	z-index: $z-socials;

	transform: scaleY(0);
	transform-origin: center bottom;
	transition: transform 0.2s ease-in-out;


	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;
		height: auto;
		min-height: 200px;
		padding: 1.5rem 1.5rem 3rem 1.5rem;
		background-color: $color-dark;
		text-align: right;


		&.white{
			background-color: $white;
		}
	}

	&__content.white &__link{
		color: $color-dark !important;
	}

	&__content.white &__link:after{
		background-color: rgba($color-dark, 0.3);
	}

	&__btn {
		background-color: transparent;
		border: none;
	}

	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			line-height: 1.1;

			a {
				color: transparent;
				/*transition: color 0.1s 0.2s ease-in-out;*/
			}
		}
	}

	&__item {
		padding-left: 4rem;
	}

	&__link {
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		transition: all $tr-duration/1.5 $tr-timing $tr-duration/1.5;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background-color: rgba($color-white, 0.3);
			transform: scaleX(0);
			transform-origin: right center;
			transition: transform $tr-duration $tr-timing 0s;
		}

		&:hover {
			padding-bottom: 0.5rem;
			transition-delay: 0s;
			margin-bottom: 0.7rem;

			&::after {
				transform: scaleX(1);
				transition-delay: $tr-duration/1.5;
			}
		}
	}

	&.active {
		transform: scaleY(1);
	}

	&.active &__list {
		li {
			a {
				color: #ffffff;
			}
		}
	}
}
