.project {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__inner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh / 12 * 8);

    /*&:before {
        content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.1;
  }*/

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: filter 0.6s;
      z-index: -1;
      //margin-left: 18px;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 5rem;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &_link {
      white-space: nowrap;
      color: $color-dark;
      padding-right: 5rem;

      button {
        position: relative;
        background-color: transparent;
        border: none;
        transition: all 0.33333s ease 0.33333s;
        overflow: hidden;
        padding: 0;
        margin-bottom: 0.35rem;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 100%;
          width: 100%;
          height: 1px;
          background-color: $color-dark;
          transform: translate3d(0, 0, 0);
          transition: transform 0.5s ease 0s;
        }

        &:hover {
          padding-bottom: 0.35rem;
          transition-delay: 0s;

          &:after {
            transform: translate3d(-100%, 0, 0);
            transition-delay: 0.33333s;
          }
        }
      }
    }
  }

  &__title {
    text-transform: none;
    text-align: center;

    &-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &__next-area {
    position: absolute;
    right: 2.5rem;
    top: 50%;
    width: 120px;
    height: 120px;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__btn {
    &-back {
      position: absolute;
      top: 50%;
      //right: calc(100% + 5rem);
      left: 5rem;
      margin-top: -30px;
    }

    &-next {
      position: absolute;
      top: 50%;
      //left: calc(100% + 5rem);
      right: 5rem;
      margin-top: -30px;

      svg {
        width: 20px;
        height: 30px;

        g {
          fill: #141414;

          polygon {
            stroke-width: 1px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__btn-back {
      left: 10%;
      top: unset;
      bottom: -10%;
    }
    &__btn-next {
      right: 10%;
      top: unset;
      bottom: -10%;
    }

    &__title-overlay {
      width: 90%;

      .h2 {
        font-size: 2.8rem;
        hyphens: auto;
      }
    }

    &__title {
    }
  }
}

.project-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-dark;
  padding-top: 5rem;
  margin: 0 auto;

  &__number {
    padding-bottom: 1rem;
    opacity: 0;
    transform: scale(0.9) translateZ(0);
    will-change: opacity, transform;
    transition: transform $tr-duration $tr-timing,
      opacity $tr-duration $tr-timing;
  }

  &__poster {
    position: relative;
    width: 100%;
    height: 50vh;
    height: calc(var(--vh) * 50);
    margin-bottom: 1rem;
    opacity: 0;
    will-change: opacity, transform;
    transition: opacity $tr-duration $tr-timing $tr-duration/4;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--clone {
      position: fixed;
      opacity: 0;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        will-change: transform;
        transform: translate3d(0, 0, 0);
        transition: filter 0.6s;
      }
    }
  }

  &__quotes {
    margin-bottom: 0.5rem;

    .quotes {
      &__text,
      &__author {
        opacity: 0;
        transform: scale(0.9) translateZ(0);
        will-change: opacity, transform;
        transition: transform $tr-duration $tr-timing,
          opacity $tr-duration $tr-timing;
      }

      &__text {
        line-height: (22/18);
        padding-bottom: 0.25rem;
        transition-delay: $tr-duration/3;
      }

      &__author {
        transition-delay: $tr-duration/2;
      }
    }
  }

  &__title {
    position: relative;
    padding-top: 1rem;
    margin-top: 0.5rem;
    opacity: 0;
    transform: scale(0.9) translateZ(0);
    will-change: opacity, transform;
    transition: transform $tr-duration $tr-timing $tr-duration,
      opacity $tr-duration $tr-timing $tr-duration;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $color-dark;
    }
  }

  &-overlay.is-visible {
    .project-card__poster {
      opacity: 0.3;
    }
  }

  &-overlay.is-show, &-overlay.view-in {
    .project-card {
      &__number,
      &__title {
        opacity: 1;
        transform: scale(1) translateZ(0);
      }

      &__poster {
        opacity: 1;
      }

      &__quotes {
        .quotes {
          &__text,
          &__author {
            opacity: 1;
            transform: scale(1) translateZ(0);
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

.main-category-id {
  .project-card__poster--clone,
  .project__preview {
    img {
      filter: brightness(80%);
    }
  }
}
