.footer {
	display: flex;
	justify-content: space-between;
	padding: 3.5rem 3.75rem 5rem 3.75rem;

	@media screen and (max-width: 560px) {
		//flex-direction: column;
		flex-wrap: wrap;
		padding: 2rem 15px;
	}
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	width: 25%;

	&__link {
		width: 15%;
		margin-bottom: 5px;
		margin-right: 27%;
		color: rgba(255, 255, 255, 0.3);
		font-size: 14px;

		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}

	@media screen and (max-width: 768px) {
		width: 300px;
	}
	@media screen and (max-width: 560px) {
		width: 100%;
		margin-bottom: 2rem;
	}
}

.footer-socials {
	display: flex;

	a {
		display: block;
		margin-right: 14px;
		max-width: 22px;
		max-height: 22px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	@media screen and (max-width: 560px) {
		width: 50%;
	}
}

.footer-copyright {
	//display: flex;
	//flex-direction: column;
	//align-items: flex-end;
	text-align: right;
	width: 250px;
	@media screen and (max-width: 560px) {
		width: 50%;
	}
}

@media screen and (max-width: 560px) {
	.footer-logo {
		width: 100%;
		margin-bottom: 2rem;
		text-align: center;
	}
}
