.form-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-dark;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;

  &__close {
    position: relative;
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 auto 1.5rem auto;
    background-color: transparent;
    border: 1px solid rgba($white, 0.3);
    border-radius: 50%;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 22px;
      height: 1px;
      background-color: $white;

      &:nth-of-type(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__content,
  &__inner {
    height: 100%;
  }

  &__content {
    max-width: 70%;
    margin: 0 auto;
  }

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 768px) {
    padding-top: 6rem;
    &__close {
      transform-origin: center;
      transform: scale(0.7);
    }
    &__content {
      max-width: 90%;
    }

    &__line {
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
      overflow-y: auto;

    &__inner {
      margin: 2rem 0 3rem 0;
    }
  }
}

.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: calc(2.5rem + 50px);
  height: 100%;

  &__line {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .h2 {
    line-height: 0.9;
  }

  &__input {
    width: 330px;
    max-width: 100%;
    //flex-basis: 330px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba($white, 0.3);
    //text-align: center;
    color: $white;

    &::placeholder {
      text-align: center;
    }

    &--message {
      width: 500px;
      margin-top: 20px;
      resize: none;
    }
  }

  &__submit {
    @extend .h3;
    color: $white;
    margin-top: 3rem;
    background-color: transparent;
    border: none;
  }
  @media screen and (min-width: 1200px) and (min-height: 900px) {
    &__line {
      margin-bottom: 3rem;
    }

    &__input {
      &--message {
        width: 66%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__line {
      width: 100%;
      margin-bottom: 2rem;
      .h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
    &__input {
      width: 100%;
      margin: 0;
    }
    &__submit {
      margin-top: 0;
    }
  }

}
