.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-header;
  width: calc(var(--vw, 1vw) * 100);
  box-sizing: border-box;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;

  @media screen and (max-width: 768px) {
    padding: 25px 15px;
  }
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;

  &-overlay {
    position: relative;
    width: 71px;
    height: 35px;
  }

  &-text {
    transition: opacity $tr-duration $tr-timing $tr-duration;
    opacity: 0;
  }

  &.show-text {
    .logo-text {
      @media screen and (min-width: 769px) {
        opacity: 0.2;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-overlay {
      position: absolute;
      top: 31px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
