canvas {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

.slider {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
}

.slide-wrapper {
	width: 100%;
	height: 100%;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.slider-nav {
	position: fixed;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
	z-index: 0;

	&__button {
		color: $color-white;
		border: none;
		background: transparent;
		opacity: 0.3;
		pointer-events: inherit;
		transition: opacity $tr-duration $tr-timing;

		&:first-of-type {
			margin-right: 2rem;
		}

		&.is-active {
			opacity: 1;
			pointer-events: none;
		}

		@media screen and (max-width: 768px){
			pointer-events: none;
			&.is-active {
				pointer-events: auto;
			}
		}
	}

	@media screen and (max-width: 768px){
		z-index: 1;
	}
}

.slide-item {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: 1;

	&:nth-of-type(1) {
		left: 0;
	}

	&:nth-of-type(2) {
		right: 0;
	}

	&__image{
		display: none;
	}
}

/*.slide-wrapper {
	display: none;
}*/
