.panel {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-header;
  width: calc(var(--vw, 1vw) * 100);
  box-sizing: border-box;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 2.5rem 3rem;

  &__interface {
    display: flex;
  }

  &__language {
    position: relative;
  }

  &__dropup {
    position: absolute;
    top: -190%;
    left: 0;
    padding: 10px 15px;
    background-color: $color-dark;
    color: transparent;
    transform: scaleY(0);
    transform-origin: center bottom;
    transition: transform 0.2s ease-in-out, color 0.1s 0.2s ease-in-out;

    button {
      background-color: transparent;
      border: none;
      color: transparent;
    }

    @media screen and (max-width: 768px) {
      top: 110%;
      transform-origin: center top;
    }
  }



  &__language.active &__dropup {
    button {
      color: #ffffff;
    }

    transform: scaleY(1);
  }

  &__language.white &__dropup {
    background-color: $white;

    button {
      color: $color-dark;
    }
  }

  &__socials {
    position: relative;
  }

  &__music {
    button {
      position: relative;
      width: 40px;
      height: 17px;
      background-color: transparent;
      border: none;
      padding: 0;
    }

    .icon-music {
      width: 100%;
      max-height: 100%;

      /*&--straight {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
      }*/
    }
  }

  &__audio-hidden {
    position: absolute;
    z-index: -5;
    visibility: hidden;
    opacity: 0;
  }
}
