.project-gallery {
  display: flex;
  flex-direction: column;
  height: 100vh;
  //background-color: #C1B1A1;

  &__no-photo {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      width: 300px;
      text-align: center;
    }

    .category__description{
      font-size: 1rem;
    }
  }

  &__top {
    position: relative;
    height: calc(100% - 100px);
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 88%;
    z-index: 2;
  }

  &__next {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 12%;
    z-index: 2;
    background-image: url("/image/arrow135.svg");
    background-size: 62px 41px;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0;
      transition: $transition-base;
    }

    &:hover:before {
      opacity: 0.2;
    }
  }

  &__main {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    //position: absolute;
    //top: 0;
    //left: 50%;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //transform: translateX(-50%);
    opacity: 0;
    //    transition: opacity 0.1s 0.2s ease-in-out;

    animation: fade-in 0.3s ease-in-out;

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    /*&:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      z-index: 0;
    }*/

    img {
      //width: 100%;
      height: 100%;
      //object-fit: cover;
      //opacity: 0.8;
      filter: brightness(0.8);
      z-index: 1;
    }

    &.active {
      opacity: 1;
    }
  }

  &__bottom {
    height: 100px;
  }

  &__thumbs {
    display: flex;
    //justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }

  &__thumb {
    position: relative;
    height: 100px;
    //max-width: 160px;
    min-width: 90px;
    background-color: #000000;
    //transition: $transition-base;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.active {
      &:before {
        visibility: visible;
        opacity: 1;
      }

      img {
        opacity: 0.2;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__img {
      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }
    &__top {
      height: 100%;
      width: 100%;
    }

    &__bottom {
      display: none;
    }

    &__next {
      width: 20%;

      &:before {
        opacity: 0.3;
      }
    }
  }
}

/*#__nuxt {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 10px;
		height: 10px;
		background-color: red;
		z-index: 100;
	}
}*/
