.project-info {
  display: flex;
  flex-direction: column;
  //background-color: #C1B1A1;
  min-height: 100vh;
  padding-bottom: 4rem;
  color: $color-dark;

  &__top {
    margin-bottom: 6rem;
    padding-left: 12%;

    .h1 {
      font-family: $font-primary;
      text-transform: inherit;
    }
  }

  &__info {
    display: flex;
    flex: 1;
  }

  &__left,
  &__right {
    width: 50%;
  }

  &__left {
    padding-left: 22%;
    padding-right: 2%;
  }

  &__right {
    padding-right: 8%;
    h4 {
      max-width: 475px;
    }
  }

  &__left-block {
    margin-bottom: 2rem;

    p {
      margin-bottom: 0;
      line-height: 1.5;
    }
  }
  @media screen and (min-width: 2500px) {
    &__right {
      h4 {
        max-width: 35rem;
      }
    }
  }
  @media screen and (max-width: 560px) {
    padding-bottom: 8rem;
    &__top {
      padding: 0 15px;
      margin-bottom: 2rem;
    }
    &__info {
      flex-direction: column;
    }

    &__left,
    &__right {
      width: 100%;
      padding: 0 15px;
    }

    &__left {
      display: flex;
      flex-wrap: wrap;
    }

    &__left-block {
      width: 50%;
    }
  }
}
