<template>
  <div>
    <header class="digest-header" ref="digestHeader">
      <nav class="digest-header__links">
        <nuxt-link
          :class="filterID == 0 ? 'active' : ''"
          :to="{ name: 'digest', query: { filter: 0 } }"
          class="digest-header__btn"
        >
          {{ activeLang === "ru" ? "Все" : "All" }}
          <span>{{ postsCounter }}</span>
        </nuxt-link>
        <nuxt-link
          :class="filterID == item.filterId ? 'active' : ''"
          :key="i"
          :to="{ name: 'digest', query: { filter: item.filterId } }"
          class="digest-header__btn"
          v-for="(item, i) in digestHeader"
        >
          {{ item.text }}
          <span>{{ item.count }}</span>
        </nuxt-link>
      </nav>
    </header>

    <main class="single-article-page" ref="singleArticlePage">
      <div class="single-article">
        <h3 class="h2 single-article__title">
          {{ articleData.title }}
        </h3>

        <div class="single-article__marks">
          <span class="single-article__tag">
            {{ articleData.tag }}
          </span>
          <span class="single-article__dot"></span>
          <span class="single-article__mark">
            {{ articleData.mark }}
          </span>
        </div>
        <div class="single-article__media">
          <div class="full-square__img">
            <img :src="articleData.img" alt="" />
          </div>
        </div>

        <div class="single-article__text">
          <div class="single-article__left">
            <h3>
              {{ activeLang === "ru" ? "Больше информации" : "More info" }}
            </h3>
          </div>
          <div class="single-article__right">
            <h4 v-html="articleData.text"></h4>
            <div
              class="single-article__dot single-article__dot--static"
              v-if="
                articleData.architect ||
                  articleData.designer ||
                  articleData.advisor ||
                  articleData.collaboration ||
                  articleData.photographer ||
                  articleData.decorator ||
                  articleData.visualizer_3d
              "
            ></div>
            <div class="my-5" v-else></div>

            <div
              class="single-article__additional"
              v-show="articleData.architect"
            >
              <p>
                {{
                  activeLang === "ru"
                    ? "Главный архитектор проекта"
                    : "The chief architect of the project"
                }}
              </p>
              <p>{{ articleData.architect }}</p>
            </div>

            <div
              class="single-article__additional"
              v-show="articleData.designer"
            >
              <p>
                {{ activeLang === "ru" ? "Дизайнер" : "Designer" }}
              </p>
              <p>{{ articleData.designer }}</p>
            </div>

            <div
              class="single-article__additional"
              v-show="articleData.advisor"
            >
              <p>
                {{
                  activeLang === "ru"
                    ? "Консультант по Искусству"
                    : "Art Consultant"
                }}
              </p>
              <p>{{ articleData.advisor }}</p>
            </div>

            <div
              class="single-article__additional"
              v-show="articleData.collaboration"
            >
              <p>
                {{
                  activeLang === "ru"
                    ? "В коллаборации с"
                    : "In collaboration with"
                }}
              </p>
              <p>{{ articleData.collaboration }}</p>
            </div>

            <div
              class="single-article__additional"
              v-show="articleData.photographer"
            >
              <p>
                {{ activeLang === "ru" ? "Фотограф" : "Photographer" }}
              </p>
              <p>{{ articleData.photographer }}</p>
            </div>

            <div
              class="single-article__additional"
              v-show="articleData.decorator"
            >
              <p>
                {{ activeLang === "ru" ? "Декоратор" : "Decorator" }}
              </p>
              <p>{{ articleData.decorator }}</p>
            </div>

            <div
              class="single-article__additional"
              v-show="articleData.visualizer_3d"
            >
              <p>
                {{ activeLang === "ru" ? "3D визуализатор" : "3D visualizer" }}
              </p>
              <p>{{ articleData.visualizer_3d }}</p>
            </div>
          </div>
        </div>

        <nuxt-link
          :to="{ name: 'digest' }"
          class="single-article__close"
        ></nuxt-link>
      </div>
    </main>
    <section
      class="single-article-page__related"
      v-if="articleData.first_related_posts || articleData.second_related_posts"
    >
      <div class="single-article-page__related-title">
        <div class="single-article-page__related-left">
          <h3>
            {{
              activeLang === "ru" ? "Больше интересного" : "More interesting"
            }}
          </h3>
        </div>
        <div class="single-article-page__related-right"></div>
      </div>

      <div class="digest-grid digest-grid--digest">
        <div
          :class="articleData.first_related_posts.type"
          class="digest-block digest-block--digest"
          v-if="articleData.first_related_posts"
        >
          <div class="digest-block__inner">
            <div
              @click="navigateToArticle(articleData.first_related_posts.link)"
              class="digest-block__title h4"
              v-if="
                articleData.first_related_posts.type !== 'full-text' &&
                  !articleData.first_related_posts.video
              "
            >
              {{ articleData.first_related_posts.title }}
            </div>
            <h4
              class="full-text__title"
              v-html="articleData.first_related_posts.title"
              v-if="
                articleData.first_related_posts.type === 'full-text' &&
                  articleData.first_related_posts.video
              "
            />
            <div class="digest-block__marks">
              <span class="digest-block__tag">
                {{ articleData.first_related_posts.tag }}
              </span>
              <span
                class="digest-block__dot"
                v-if="
                  articleData.first_related_posts.type === 'half-square' ||
                    articleData.first_related_posts.type === 'full-square' ||
                    articleData.first_related_posts.type === 'full-text'
                "
              />
              <span
                class="digest-block__mark"
                v-if="
                  articleData.first_related_posts.type === 'half-square' ||
                    articleData.first_related_posts.type === 'full-square'
                "
              >
                {{ articleData.first_related_posts.mark }}
              </span>
            </div>

            <div class="digest-block__media">
              <div
                :class="{
                  'full-square__img':
                    articleData.first_related_posts.type === 'full-square',
                  'half-square__img':
                    articleData.first_related_posts.type === 'half-square'
                }"
                @click="navigateToArticle(articleData.first_related_posts.link)"
                v-if="
                  !articleData.first_related_posts.video &&
                    (articleData.first_related_posts.type === 'half-square' ||
                      articleData.first_related_posts.type === 'full-square')
                "
              >
                <img :src="articleData.first_related_posts.img" alt="" />
              </div>
              <div
                @click="navigateToArticle(articleData.first_related_posts.link)"
                class="half-round__img"
                v-else-if="
                  articleData.first_related_posts.type === 'half-round'
                "
              >
                <img :src="articleData.first_related_posts.img" alt="" />
                <span
                  :class="{
                    'half-round__count--big':
                      articleData.first_related_posts.count === 0
                  }"
                  class="half-round__count"
                >
                  {{
                    articleData.first_related_posts.count > 0
                      ? "+" + articleData.first_related_posts.count
                      : ">"
                  }}
                </span>
              </div>
              <div
                class="full-square__video"
                v-else-if="articleData.first_related_posts.video"
              >
                <client-only>
                  <youtube
                    :player-vars="{
                      controls: 0,
                      showinfo: 0,
                      rel: 0,
                      iv_load_policy: 3,
                      modestbranding: 1,
                      autohide: 1
                    }"
                    :video-id="articleData.first_related_posts.video"
                    player-height="100%"
                    player-width="100%"
                  ></youtube>
                </client-only>
                <span class="full-square__time">
                  2:14
                </span>
              </div>
            </div>

            <div
              class="digest-block__quote"
              v-if="
                articleData.first_related_posts.type === 'half-square' &&
                  articleData.first_related_posts.quote
              "
            >
              {{ articleData.first_related_posts.quote }}
            </div>
          </div>
        </div>

        <div
          :class="articleData.second_related_posts.type"
          class="digest-block digest-block--digest"
          v-if="articleData.second_related_posts"
        >
          <div class="digest-block__inner">
            <div
              @click="navigateToArticle(articleData.first_related_posts.link)"
              class="digest-block__title"
              v-if="
                articleData.second_related_posts.type !== 'full-text' &&
                  !articleData.second_related_posts.video
              "
            >
              {{ articleData.second_related_posts.title }}
            </div>
            <h4
              class="full-text__title"
              v-html="articleData.second_related_posts.title"
              v-if="
                articleData.second_related_posts.type === 'full-text' &&
                  articleData.second_related_posts.video
              "
            />
            <div class="digest-block__marks">
              <span class="digest-block__tag">
                {{ articleData.second_related_posts.tag }}
              </span>
              <span
                class="digest-block__dot"
                v-if="
                  articleData.second_related_posts.type === 'half-square' ||
                    articleData.second_related_posts.type === 'full-square' ||
                    articleData.second_related_posts.type === 'full-text'
                "
              />
              <span
                class="digest-block__mark"
                v-if="
                  articleData.second_related_posts.type === 'half-square' ||
                    articleData.second_related_posts.type === 'full-square'
                "
              >
                {{ articleData.second_related_posts.mark }}
              </span>
            </div>

            <div class="digest-block__media">
              <div
                :class="{
                  'full-square__img':
                    articleData.second_related_posts.type === 'full-square',
                  'half-square__img':
                    articleData.second_related_posts.type === 'half-square'
                }"
                @click="navigateToArticle(articleData.first_related_posts.link)"
                v-if="
                  !articleData.second_related_posts.video &&
                    (articleData.second_related_posts.type === 'half-square' ||
                      articleData.second_related_posts.type === 'full-square')
                "
              >
                <img
                  :src="articleData.second_related_posts.preview_img"
                  alt=""
                />
              </div>
              <div
                @click="navigateToArticle(articleData.first_related_posts.link)"
                class="half-round__img"
                v-else-if="
                  articleData.second_related_posts.type === 'half-round'
                "
              >
                <img :src="articleData.second_related_posts.img" alt="" />
                <span
                  :class="{
                    'half-round__count--big':
                      articleData.second_related_posts.count === 0
                  }"
                  class="half-round__count"
                >
                  {{
                    articleData.second_related_posts.count > 0
                      ? "+" + articleData.second_related_posts.count
                      : ">"
                  }}
                </span>
              </div>
              <div
                class="full-square__video"
                v-else-if="articleData.second_related_posts.video"
              >
                <client-only>
                  <youtube
                    :player-vars="{
                      controls: 0,
                      showinfo: 0,
                      rel: 0,
                      iv_load_policy: 3,
                      modestbranding: 1,
                      autohide: 1
                    }"
                    :video-id="articleData.second_related_posts.video"
                    player-height="100%"
                    player-width="100%"
                  ></youtube>
                </client-only>
                <span class="full-square__time">
                  2:14
                </span>
              </div>
            </div>

            <div
              class="digest-block__quote"
              v-if="
                articleData.second_related_posts.type === 'half-square' &&
                  articleData.second_related_posts.quote
              "
            >
              {{ articleData.second_related_posts.quote }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>

<script>
import Footer from "@/components/Footer";

export default {
  data() {
    return {
      vuebarState: null
    };
  },
  computed: {
    activeLang() {
      return this.$store.state.activeLang;
    },
    digestHeader() {
      return this.$store.state.digest.header;
    },
    digest() {
      return this.$store.state.digest.digest;
    },
    articleData() {
      return this.digest.posts.find(el => {
        return el.link === this.$route.params.id;
      });
    },
    postsCounter() {
      let counter = 0;
      for (const digestHeaderElement of this.digestHeader) {
        counter += digestHeaderElement.count;
      }
      return counter;
    },
    filterID(){
      return this.articleData.filterBy;
    }
  },
  created() {
    if (process.client) {
      this.vuebarState = this.$vuebar.getState(
        document.querySelector("[data-el1]")
      );
      setTimeout(() => {
        this.vuebarState.el2.scrollTo(0, 0);
      }, 100);
    }
  },
  mounted() {
    if (!this.articleData) {
      this.$nuxt.error({ statusCode: 404 });
    }

    const mainHeader = document.querySelector(".header");

    mainHeader.style.backgroundColor = "#141414";
    mainHeader.style.zIndex = 102;
    mainHeader.style.top = -mainHeader.offsetHeight + "px";
    if (this.$mq !== "sm" && this.$mq !== "xs") {
      this.$gsap.TweenMax.set(".menu__btn--open", {
        top: mainHeader.offsetHeight
        /*ease: this.$gsap.Power2.easeOut*/
      });
    }

    this.$refs.digestHeader.style.top = "0px";
    this.$refs.singleArticlePage.style.marginTop =
      this.$refs.digestHeader.offsetHeight + "px";
  },
  methods: {
    navigateToArticle(link) {
      if (!link) return false;

      const isProject =
        link.indexOf("public") >= 0 || link.indexOf("living") >= 0;
      const isOuter = link.indexOf("http") >= 0;
      const hasDigest = location.href.indexOf("digest") >= 0;

      const newLink =
        isProject || isOuter || hasDigest ? link : "digest/" + link;

      console.log(isProject);

      if (isOuter) {
        window.open(newLink);
        // this.$router.push({path:newLink, beforeEnter() { location.href = '' }});
      } else {
        if (isProject) {
          const linkParams = link.split("/");

          //this.$router.push({ name:'category-id', path: newLink });
          this.$router.push({
            name: "category-id",
            params: {
              category: linkParams[0],
              id: linkParams[1]
            }
          });
        } else {
          this.$router.push({ path: newLink });
        }
      }
    },
    /*getLink(link) {
        const newLink = link
          ? link.indexOf("public") >= 0 || link.indexOf("living") >= 0
            ? link
            : "digest/" + link
          : "/";
        return newLink;
      },*/
    digestHandler(e) {
      this.$gsap.TweenMax.to(e.target.element, 1, { y: 0, autoAlpha: 1 });
    }
  },
  components: {
    Footer
  },
  transition: {
    css: false,
    beforeEnter(el) {
      console.log("digest single be!");
      this.$gsap.TweenMax.set(el.querySelector(".single-article__title"), {
        opacity: 0
      });
      this.$gsap.TweenMax.set(el.querySelector(".single-article__media"), {
        opacity: 0
      });
      this.$gsap.TweenMax.set(el.querySelector(".single-article__marks"), {
        opacity: 0,
        y: -20
      });

      this.$gsap.TweenMax.set(el.querySelector(".single-article__text"), {
        opacity: 0,
        y: -20
      });
    },
    enter(el, done) {
      console.log("digest single enter!");
      this.$gsap.TweenMax.to(el, 0.5, {
        opacity: 1
      });
      new this.$gsap.TimelineMax()
        .to(
          el.querySelector(".single-article__title"),
          0.6,
          {
            opacity: 1,
            ease: Power2.easeOut
          },
          "+=0.2"
        )
        .to(
          el.querySelector(".single-article__marks"),
          0.6,
          {
            opacity: 1,
            y: 0
          },
          "+=0.2"
        )
        .to(el.querySelector(".single-article__media"), 0.6, {
          opacity: 1,
          y: 0
        })
        .to(
          el.querySelector(".single-article__text"),
          0.6,
          {
            opacity: 1,
            y: 0
          },
          "+=0.2"
        );
      done();
    },
    leave(el, done) {
      console.log("digest single leave!");

      if (el) {
        this.$gsap.TweenMax.to(el, 0.5, {
          opacity: 0,
          onComplete() {
            done();
          }
        });
      } else {
        done();
      }
      /*.to(el.querySelector(".digest-grid--digest"), 0.5, {
                             opacity: 0,
  
                             }, "start")*/

      /* if(el.querySelector(".category__letters")) el.querySelector(".category__letters").classList.remove('is-show');
  
                             new this.$gsap.TimelineMax().to(el.querySelectorAll(".project-card"), 1, {
                             scale: 0.8,
                             opacity: 0,
                             ease: Power2.easeIn,
                             onComplete: () => {
                             done()
                             }
                             }).to(el.querySelectorAll(".category__information"), 0.6, {
                             xPercent: 20,
                             opacity: 0
                             }, "-=1")*/
    }
  }
};
</script>

<style lang="scss" scoped>
/deep/ .single-article {
  strong {
    color: #ffffff !important;
  }

  &__right {
    a {
      color: #33a6ff;
      text-decoration: underline;
    }
  }
}
</style>
