<template>
  <div>
    <header
      :style="{ zIndex: headerZindex }"
      class="digest-header"
      ref="digestHeader"
    >
      <nav class="digest-header__links">
        <button
          :class="filterID == 0 ? 'active' : ''"
          :data-filter="0"
          @click="filterPosts(0)"
          class="digest-header__btn"
          type="button"
        >
          {{ activeLang === "ru" ? "Все" : "All" }}
          <span>{{ postsCounter }}</span>
        </button>
        <button
          :class="filterID == item.filterId ? 'active' : ''"
          :data-filter="item.filterId"
          :key="i"
          @click="filterPosts(item.filterId)"
          class="digest-header__btn"
          type="button"
          v-for="(item, i) in digestHeader"
        >
          {{ item.text }}
          <span>{{ item.count }}</span>
        </button>
      </nav>
    </header>
    <div class="digest-first" ref="digestFirst" v-view>
      <h3 class="digest-first__title">
        {{ digest.title }}
      </h3>
      <div class="digest-first__bg">
        <img :src="digest.bg" alt="background" />
      </div>
    </div>
    <div class="digest-grid digest-grid--digest">
      <div
        :class="block.type"
        :key="i + 'block'"
        class="digest-block digest-block--digest"
        v-for="(block, i) in filteredPosts"
        v-view.once="digestHandler"
      >
        <div class="digest-block__inner">
          <div
            @click="navigateToArticle(block.link)"
            class="digest-block__title h4"
            v-if="block.type !== 'full-text' && !block.video"
          >
            {{ block.title }}
          </div>
          <h4
            :class="{
              'full-text__title': block.type === 'full-text',
              'digest-block__title': block.video
            }"
            v-html="block.title"
            v-if="block.type === 'full-text' || block.video"
          />
          <div class="digest-block__marks">
            <span class="digest-block__tag">
              {{ block.tag }}
            </span>
            <span
              class="digest-block__dot"
              v-if="
                block.type === 'half-square' ||
                  block.type === 'full-square' ||
                  block.type === 'full-text'
              "
            />
            <span
              class="digest-block__mark"
              v-if="
                block.type === 'half-square' || block.type === 'full-square'
              "
            >
              {{ block.mark }}
            </span>
          </div>

          <div class="digest-block__media" v-if="block.type !== 'full-text'">
            <div
              :class="{
                'full-square__img': block.type === 'full-square',
                'half-square__img': block.type === 'half-square'
              }"
              @click="navigateToArticle(block.link)"
              v-if="
                !block.video &&
                  (block.type === 'half-square' || block.type === 'full-square')
              "
            >
              <img :src="block.preview_img" alt="" />
            </div>
            <div
              @click="navigateToArticle(block.link)"
              class="half-round__img"
              v-else-if="block.type === 'half-round'"
            >
              <img :src="block.img" alt="" />
              <span
                :class="{ 'half-round__count--big': block.count === 0 }"
                class="half-round__count"
              >
                {{ block.count > 0 ? "+" + block.count : ">" }}
              </span>
            </div>
            <div class="full-square__video" v-else-if="block.video">
              <client-only>
                <youtube
                  :player-vars="{
                    controls: 0,
                    rel: 0,
                    iv_load_policy: 3,
                    modestbranding: 1,
                    autohide: 1
                  }"
                  :video-id="block.video"
                  player-height="100%"
                  player-width="100%"
                ></youtube>
              </client-only>
            </div>
          </div>

          <div
            class="digest-block__quote"
            v-if="block.type === 'half-square' && block.quote"
          >
            {{ block.quote.slice(0, 100) + "..." }}
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Footer from "@/components/Footer";
import { mapGetters } from "vuex";

let Isotope;

if (process.browser) {
  Isotope = require("isotope-layout");
}

export default {
  data() {
    return {
      hideHeader: null,
      vueBarState: null,
      filterID: 0,
      blockHeight: 0,
      blockTop: 0,
      scrollInst: null,
      digestAnimation: null
    };
  },
  methods: {
    getLink(link) {
      const newLink = link
        ? link.indexOf("public") >= 0 || link.indexOf("living") >= 0
          ? link
          : "digest/" + link
        : "/";
      return {
        path: newLink,
        beforeEnter() {
          location.href = "http://";
        }
      };
    },
    filterPosts(ID) {
      if (this.filteredPosts.length === 0) {
        this.filterID = ID;
        return;
      }
      this.$gsap.TweenMax.staggerTo(
        [...document.querySelectorAll(".digest-block")],
        0.5,
        { autoAlpha: 0 },
        "0.01",
        () => {
          this.filterID = ID;
        }
      );
      //this.updateQueryStringParameter("filter", ID);
    },
    digestHandler(e) {
      this.$gsap.TweenMax.to(e.target.element.firstElementChild, 1, {
        y: 0,
        autoAlpha: 1
      });
    },
    navigateToArticle(link) {
      const isProject =
        link.indexOf("public") >= 0 || link.indexOf("living") >= 0;
      const isOuter = link.indexOf("http") >= 0;

      const newLink = link
        ? isProject || isOuter
          ? link
          : "digest/" + link
        : "/";

      if (isOuter) {
        window.open(newLink);
        // this.$router.push({path:newLink, beforeEnter() { location.href = '' }});
      } else {
        if (isProject) {
          const linkParams = link.split("/");

          //this.$router.push({ name:'category-id', path: newLink });
          this.$router.push({
            name: "category-id",
            params: {
              category: linkParams[0],
              id: linkParams[1]
            }
          });
        } else {
          this.$router.push({ path: newLink });
        }
      }
    },
    updateQueryStringParameter(key, value) {
      let uri = window.location.href;
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf("?") !== -1 ? "&" : "?";
      if (uri.match(re)) {
        window.location.href = uri.replace(re, "$1" + key + "=" + value + "$2");
      } else {
        window.location.href = uri + separator + key + "=" + value;
      }
    }
  },
  computed: {
    ...mapGetters(["isFormModalOpened"]),
    headerZindex() {
      return this.isFormModalOpened ? 90 : 101;
    },
    digest() {
      return this.$store.state.digest.digest;
    },
    filteredPosts() {
      return this.digest.posts.filter((item, i) => {
        return item.filterBy == this.filterID || this.filterID === 0;
      });
    },
    digestHeader() {
      return this.$store.state.digest.header;
    },
    postsCounter() {
      let counter = 0;
      for (const digestHeaderElement of this.digestHeader) {
        counter += digestHeaderElement.count;
      }
      return counter;
    },
    activeLang() {
      return this.$store.state.activeLang;
    }
  },
  watch: {
    filteredPosts() {
      this.$gsap.TweenMax.to(
        [...document.querySelectorAll(".digest-block")],
        0.5,
        { autoAlpha: 1 },
        "0.1"
      );
    }
  },
  created() {
    if (process.client) {
      this.vuebarState = this.$vuebar.getState(
        document.querySelector("[data-el1]")
      );
      setTimeout(() => {
        this.vuebarState.el2.scrollTo(0, 0);
      }, 100);
    }
  },
  beforeDestroy() {
    /*this.vueBarState = this.$vuebar.getState(
        document.querySelector(".vb-visible")
      );*/
    const mainHeader = document.querySelector(".header");
    mainHeader.style.backgroundColor = "transparent";
    this.vueBarState.el2.removeEventListener("scroll", this.hideHeader);
  },
  mounted() {
    if (this.$route.query.filter) {
      this.filterPosts(this.$route.query.filter);
      this.$router.replace({});
    }

    const digestBlocks = document.querySelectorAll(".digest-block__inner");

    this.$gsap.TweenMax.set(digestBlocks, {
      y: 100,
      autoAlpha: 0
    });

    const mainHeader = document.querySelector(".header"),
      panel = document.querySelector(".panel"),
      _inst = this;
    /*document.querySelector(".cta-btn").style.display = "none";
                     document.getElementById("ctaCanvas").style.display = "none";*/

    this.$gsap.TweenMax.to(mainHeader, 0.3, {
      top: 0 /*, ease: this.$gsap.Power2.easeOut*/
    });

    mainHeader.style.backgroundColor = "#141414";
    this.$refs.digestHeader.style.top = mainHeader.offsetHeight + "px";
    this.$refs.digestFirst.style.height =
      window.innerHeight * 0.75 - mainHeader.offsetHeight + "px";
    this.$refs.digestFirst.style.marginTop = mainHeader.offsetHeight + "px";
    //panel.style.display = "none";
    this.blockHeight = window.innerHeight - mainHeader.offsetHeight + "px";
    this.blockTop = mainHeader.offsetHeight + "px";

    this.hideHeader = e => {
      if (this.vueBarState.barTop > 10) {
        this.$gsap.TweenMax.set(mainHeader, { zIndex: 102 });
        this.$gsap.TweenMax.to(mainHeader, 0.3, {
          top: -mainHeader.offsetHeight /*, ease: this.$gsap.Power2.easeOut*/
        });
        if (this.$mq !== "sm" && this.$mq !== "xs") {
          this.$gsap.TweenMax.to(".menu__btn--open", 0.3, {
            top: mainHeader.offsetHeight
            /*ease: this.$gsap.Power2.easeOut*/
          });
        }
        this.$gsap.TweenMax.to(this.$refs.digestHeader, 0.3, {
          top: 0 /*, ease: this.$gsap.Power2.easeOut*/
        });
        // this.$gsap.TweenMax.to(panel, 0.5, {bottom: -panel.offsetHeight, ease: this.$gsap.Power2.easeOut});
      } else {
        this.$gsap.TweenMax.to(".menu__btn--open", 0.3, {
          top: 0 /*, ease: this.$gsap.Power2.easeOut*/
        });
        this.$gsap.TweenMax.to(mainHeader, 0.3, {
          top: 0 /*, ease: this.$gsap.Power2.easeOut*/
        });
        this.$gsap.TweenMax.to(this.$refs.digestHeader, 0.3, {
          top: mainHeader.offsetHeight,
          onComplete() {
            _inst.$gsap.TweenMax.set(mainHeader, { zIndex: 100 });
          }
          /*ease: this.$gsap.Power2.easeOut*/
        });
        // this.$gsap.TweenMax.to(panel, 0.2, {bottom: 0, ease: this.$gsap.Power2.easeOut});
      }
    };

    /*this.digestAnimation = (e) => {
                     const page = e.target.querySelector(".main-digest"),
                     pageHeight = page.offsetHeight;
                     console.log(pageHeight)
                     };*/

    setTimeout(() => {
      //const vBarContent = document.querySelector(".vb-content");
      //vBarContent.style.height = pageHeight + 'px';
      //this.$vuebar.destroyScrollbar(document.querySelector(".vb-visible"));
      this.vueBarState = this.$vuebar.getState(
        document.querySelector(".vb-visible")
      );
      this.vueBarState.el2.addEventListener("scroll", this.hideHeader);
      /*this.vueBarState.el2.addEventListener('scroll', (e) => {
                           return false;
                           //console.log(e)
                           });*/
      //this.vueBarState.el2.addEventListener('scroll', this.digestAnimation);
    }, 0);

    const videoContainers = document.querySelectorAll(".full-square__video");
    for (let i = 0; i < videoContainers.length; i++) {
      let vid = videoContainers[i].querySelector("video"),
        time = videoContainers[i].querySelector("span");
      //time.innerText = vid.duration;
    }
  },
  components: {
    Footer
  },
  transition: {
    css: false,
    beforeEnter(el) {
      console.log("digest be!");
      this.$gsap.TweenMax.set(el.querySelector(".digest-header"), {
        opacity: 0
      });
      this.$gsap.TweenMax.set(el.querySelector(".digest-first"), {
        opacity: 0
      });
    },
    enter(el, done) {
      console.log("digest enter!");
      new this.$gsap.TimelineMax()
        .to(el.querySelector(".digest-header"), 0.3, {
          opacity: 1,
          ease: Power2.easeOut
        })
        .to(
          el.querySelector(".digest-first"),
          0.6,
          {
            opacity: 1
          },
          "+=0.2"
        );
      done();
    },
    leave(el, done) {
      console.log("digest leave!");
      const header = el.querySelector(".digest-header"),
        first = el.querySelector(".digest-first");

      if (header && first) {
        new this.$gsap.TimelineMax({
          onComplete: () => {
            done();
          }
        })
          .addLabel("start")
          .to(
            header,
            0.3,
            {
              opacity: 0
            },
            "start"
          )
          .to(
            first,
            0.5,
            {
              opacity: 0
            },
            "start"
          )
          .to(
            el,
            0.5,
            {
              opacity: 0
            },
            "start"
          );
      } else {
        this.$gsap.TweenMax(el, 1, {
          opacity: 0,
          onComplete: () => {
            done();
          }
        });
      }
      /*.to(el.querySelector(".digest-grid--digest"), 0.5, {
                           opacity: 0,
  
                           }, "start")*/

      /* if(el.querySelector(".category__letters")) el.querySelector(".category__letters").classList.remove('is-show');
  
                           new this.$gsap.TimelineMax().to(el.querySelectorAll(".project-card"), 1, {
                           scale: 0.8,
                           opacity: 0,
                           ease: Power2.easeIn,
                           onComplete: () => {
                           done()
                           }
                           }).to(el.querySelectorAll(".category__information"), 0.6, {
                           xPercent: 20,
                           opacity: 0
                           }, "-=1")*/
    }
  }
};
</script>
