<template>
  <div :class="`category-listing--${category}`" class="category-listing">
    <div class="category-listing-back-to-roots">
      <button @click="$router.push({ name: 'category' })">
        <span></span><span></span>
      </button>
    </div>

    <header class="category-listing-header">
      <nav class="category-listing-header__links">
        <button
          :class="filterID === '*' ? 'active' : ''"
          @click="filterProjects('*')"
          class="category-listing-header__btn"
          data-filter="*"
          type="button"
        >
          {{ activeLang === "ru" ? "Все" : "All" }}
          <span>{{ projectsCounter }}</span>
        </button>
        <button
          :class="filterID === item.id ? 'active' : ''"
          :data-filter="item.id"
          :key="i"
          @click="filterProjects(item.id)"
          class="category-listing-header__btn"
          type="button"
          v-for="(item, i) in listingHeader"
        >
          {{ item.name }}
          <span>{{ item.count }}</span>
        </button>
      </nav>
    </header>
    <div class="category-listing-inner">
      <div
        :data-check="project.filterId"
        :key="`project-${project.slug}`"
        @click.prevent="navigateToProject($event, +project.slug, project._index)"
        class="project-card-overlay"
        v-for="(project, index) in renderedProjects"
        v-view.once
      >
        <ProjectCard :index="index" :project="project" />
      </div>

      <div class="category__information">
        <h1 class="h1 category__title">{{ category }}</h1>
        <button
          @click="navigateToServices"
          class="category__description"
          type="button"
        >
          {{ activeLang === "ru" ? "Услуги" : "Services" }}
        </button>
      </div>

      <div class="category-listing-more">
        <button
          @click="loadMore"
          class="category-listing-more__btn"
          ref="moreBtn"
        >
          <span></span><span></span><span></span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
let SHOWING_PROJECTS_COUNT_ON_START = 10;
const SHOWING_PROJECTS_COUNT_BY_BUTTON = 10;

import { mapGetters } from "vuex";
import ProjectCard from "@/components/ProjectCard";

export default {
  name: "categoryList",
  components: {
    ProjectCard
  },
  created() {
    /*this.$axios.get("/listingHeader.json").then(data => {
                this.listingHeader = data.data[this.category];

                for (const digestHeaderElement of this.listingHeader) {
                  this.projectsCounter += digestHeaderElement.count;
                }
              });*/

    this.showCount = this.scrollAmount
      ? this.scrollAmount.showCount
      : SHOWING_PROJECTS_COUNT_ON_START;

    this.renderProjects();
  },
  mounted() {
    if (this.$mq !== "sm" && this.$mq !== "xs") {
      document.querySelector(".logo-overlay").style.display = "none";
    }
    document.querySelector(".header").style.zIndex = 1;

    if (this.renderedProjects.length === this.projects.length) {
      this.$refs.moreBtn.classList.add("hidden");
    }



    setTimeout(() => {
      this.scrollContainer = document.querySelector(".vb-content");
      this.scrollContainer.scrollTop = this.scrollContainer.scrollTop + 5;
      this.scrollContainer.scrollTop = this.scrollContainer.scrollTop - 5;

      if (this.scrollAmount) {
        this.scrollContainer.scrollTop =
          this.scrollContainer.scrollTop + this.scrollAmount.scrollAmount;
      }

      document.querySelector(".category-listing").style.paddingTop =
        document.querySelector(".category-listing-header").offsetHeight + "px";

      this.$store.dispatch("setListScrollAmount", null);
    }, 500);
  },
  computed: {
    scrollAmount() {
      return this.$store.state.listScrollAmount;
    },
    listingHeader() {
      return this.category === "living"
        ? this.$store.state.livingFilter
        : this.$store.state.publicFilter;
    },
    category() {
      return this.$route.params.category;
    },
    ...mapGetters({
      getProjectsByCategory: "projects/getProjectsByCategory"
    }),
    projects: {
      get() {
        return this.getProjectsByCategory(this.category);
      },
      set() {}
    },
    filteredProjects() {
      return this.projects.filter((item, i) => {
        return (
          item["project_filter_id"] === this.filterID || this.filterID === "*"
        );
      });
    },
    activeLang() {
      return this.$store.state.activeLang;
    },
    projectsCounter() {
      return this.projects.length;
    }
  },
  data() {
    return {
      scrollContainer: null,
      filterID: "*",
      //listingHeader: null,
      showCount: SHOWING_PROJECTS_COUNT_ON_START,
      renderedProjects: null
    };
  },
  methods: {
    renderProjects() {
      this.renderedProjects = this.filteredProjects.slice(0, this.showCount);
    },
    loadMore(ev) {
      this.showCount = +this.showCount + SHOWING_PROJECTS_COUNT_BY_BUTTON;
      this.renderProjects();

      if (this.renderedProjects.length === this.projects.length) {
        ev.currentTarget.classList.add("hidden");
      }
    },
    filterProjects(ID) {
      if (this.filteredProjects.length === 0) {
        this.filterID = ID;
        this.showCount = SHOWING_PROJECTS_COUNT_ON_START;
        this.renderProjects();
        return;
      }

      this.$gsap.TweenMax.staggerTo(
        [...document.querySelectorAll(".project-card-overlay")],
        0.5,
        { autoAlpha: 0 },
        "0.01",
        () => {
          this.filterID = ID;
          this.showCount = SHOWING_PROJECTS_COUNT_ON_START;
          this.renderProjects();
        }
      );

      /*if (this.filteredPosts.length === 0) {
                          return;
                        }
                        this.$gsap.TweenMax.staggerTo(
                          [...document.querySelectorAll(".project-card-overlay")],
                          0.5,
                          { autoAlpha: 0 },
                          "0.01",
                          () => {
                            this.filterID = ID;
                          }
                        );*/
      //this.updateQueryStringParameter("filter", ID);
    },
    navigateToServices() {
      this.$router.push({
        name: "services",
        query: { category: this.category }
      });
    },
    navigateToProject(ev, id, index) {
      this.$router.push({
        path: "/" + this.category + "/" + id
      });

      this.$store.dispatch("setListScrollAmount", {
        showCount: this.showCount,
        scrollAmount: this.scrollContainer.scrollTop
      });
    }
  },
  beforeDestroy() {
    setTimeout(() => {
      document.querySelector(".logo-overlay").style.display = "block";
      document.querySelector(".header").style.zIndex = null;
    }, 700);
  },
  watch: {
    activeLang() {
      // this.renderProjects();

      setTimeout(() => {
        this.projects = this.getProjectsByCategory(this.category);
        this.renderProjects();
        // console.log(this.getProjectsByCategory(this.category));
      }, 1000);
    },
    filteredProjects() {
      this.$gsap.TweenMax.to(
        [...document.querySelectorAll(".project-card-overlay")],
        0.5,
        { autoAlpha: 1 },
        "0.1"
      );
    }
  },
  transition: {
    appear: true,
    css: false,
    beforeEnter(el) {
      console.log("category listing be!");

      const catTitle = el.querySelector(".category__title");
      const catHeader = el.querySelector(".category-listing-header");
      const catDesc = el.querySelector(".category__description");

      this.$gsap.TweenMax.set(el.querySelectorAll(".project-card"), {
        scale: 0.8,
        opacity: 0
      });
      /*this.$gsap.TweenMax.set(el.querySelectorAll(".category__information"), {
                                      xPercent: -20,
                                      opacity: 0
                                    });*/
      this.$gsap.TweenMax.set([catTitle, catDesc, catHeader], {
        opacity: 0
      });

      this.titleLine = new this.$SplitText(catTitle, { type: "words, chars" });
      this.titleChars = this.titleLine.chars;
      this.descriptionLine = new this.$SplitText(catDesc, {
        type: "words, chars"
      });
      this.descriptionChars = this.descriptionLine.chars;

      new this.$gsap.TimelineMax()
        .set(this.titleChars, { y: 50, autoAlpha: 0 })
        .set(this.descriptionChars, { y: 50, autoAlpha: 0 });
    },
    enter(el, done) {
      console.log("category listing enter!");

      setTimeout(() => {
        new this.$gsap.TimelineMax()
          .addLabel("start")
          .to(el.querySelector(".category-listing-header"), 0.1, { opacity: 1 })
          .to(el.querySelector(".category__title"), 0.1, { opacity: 1 })
          .to(
            el.querySelector(".category__description"),
            0.1,
            { opacity: 1 },
            "-0.1"
          )
          .staggerTo(
            this.titleChars,
            0.5,
            { y: 0, autoAlpha: 1 },
            "0.04",
            "start"
          )
          .staggerTo(
            this.descriptionChars,
            0.5,
            { y: 0, autoAlpha: 1 },
            "0.04",
            "start"
          )
          .to(
            el.querySelectorAll(".project-card"),
            1,
            {
              scale: 1,
              opacity: 1,
              ease: Power2.easeOut,
              onComplete: () => {
                done();
              }
            },
            "start+=0.5"
          );
      }, 300);

      /* .to(el.querySelectorAll(".category__information"), 0.6, {
                                                 xPercent: 0,
                                                 opacity: 1
                                             }, "+=0.2")*/
      // done();
    },
    leave(el, done) {
      console.log("category listing leave!");

      new this.$gsap.TimelineMax()
        .to(el.querySelector(".category-listing-header"), 1, {
          opacity: 0
        })
        .to(
          el.querySelectorAll(".project-card"),
          1,
          {
            scale: 0.8,
            opacity: 0,
            ease: Power2.easeIn
          },
          "-=1"
        )
        .staggerTo(this.titleChars, 0.2, { y: 50, autoAlpha: 0 }, "0.03")
        .staggerTo(
          this.descriptionChars,
          0.2,
          {
            y: 50,
            autoAlpha: 0,
            onComplete: () => {
              done();
            }
          },
          "0.03"
        );
    }
  }
};
</script>

<style lang="scss" scoped>
.category-listing {
  position: relative;
  min-height: 100vh;
  padding: 0 8rem;
  transform: none !important;
  transform-origin: center top;
  background-color: #ac9898;

  /deep/ .category__information {
    position: absolute;
  }

  .project-card-overlay {
    width: 50%;

    &:nth-of-type(2n + 3) {
      margin-top: -15vh;
    }

    &:nth-of-type(2n + 4) {
      margin-top: 5vh;
    }

    &:nth-of-type(odd) {
      padding-right: 5%;
    }

    &:nth-of-type(even) {
      padding-left: 5%;
    }

    &:nth-of-type(3) {
    }

    &:nth-of-type(2) {
      margin-top: 20vh;
    }
  }
}

.category-listing-inner {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.category-listing-header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  width: auto;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  background-color: transparent;
  transform: translateX(-50%);

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin-right: 5px;
    padding: 10px 24px;
    color: #fff;
    border: none;
    border-radius: 20px;
    background-color: transparent;

    span {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 0.625rem;
    }

    &.active {
      color: #000;
      background-color: #fff;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 15px;

    &__links {
      justify-content: flex-start;
      overflow-x: auto;
      white-space: nowrap;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    &__btn {
      /*padding: 10px 0;
                            flex: 0 0 110px;

                            span{
                              right: 0;
                            }*/
    }
  }
}

.category-listing-more {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 8rem auto 9rem auto;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    padding: 0;
    font-size: 4rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.3s ease-in-out;

    span {
      width: 6px;
      height: 6px;
      margin: 0 3px;
      border-radius: 50%;
      background-color: #000000;
    }

    &.hidden {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.category-listing-back-to-roots {
  position: absolute;
  top: calc(1.5rem + 15px);
  left: 3rem;
  z-index: 2;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 10px;
    padding: 0;
    border: none;
    background-color: transparent;

    span {
      background-color: #000000;

      &:nth-of-type(1) {
        width: 9px;
        height: 10px;
        margin-right: 2px;
      }

      &:nth-of-type(2) {
        width: 6px;
        height: 6px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .category-listing {
    padding: 10px;

    .project-card-overlay {
      height: auto;

      &:nth-of-type(2n + 3) {
        margin-top: -10vh;
      }

      &:nth-of-type(2n + 4) {
        margin-top: 0;
      }

      &:nth-of-type(odd) {
        padding-right: 2rem;
      }

      &:nth-of-type(even) {
        padding-left: 2rem;
      }

      &:nth-of-type(3) {
      }

      &:nth-of-type(2) {
        margin-top: 15vh;
      }

      .project-card {
        width: 100%;
      }
    }

    .category__information {
      top: 11rem;
    }
  }

  .category-listing-back-to-roots {
    top: 3.5rem;
    left: 5rem;
  }

  .category-listing-header {
    position: static;
    padding: 15px 0;
    transform: none;
  }
}

@media screen and (max-width: 567px) {
  .category-listing {
    .project-card-overlay {
      width: 100%;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}
</style>
