<template>
  <div :class="type" class="digest-block digest-block--digest">
    <div class="digest-block__inner">
      <h4
        @click="navigateToArticle"
        :class="{
          'full-text__title': isText,
          'digest-block__title': isVideo
        }"
        v-html="title"
      />
      <div class="digest-block__marks">
        <span class="digest-block__tag">
          {{ data.tag }}-{{isHalfSquare}}-{{isFullSquare}}
        </span>
        <span class="digest-block__dot" v-if="!isProject" />
        <span class="digest-block__mark" v-if="isHalfSquare || isFullSquare">
          {{ data.mark }}
        </span>
      </div>

      <div class="digest-block__media" v-if="!isText">
        <div
          :class="{
            'full-square__img': isHalfSquare,
            'half-square__img': isFullSquare
          }"
          @click="navigateToArticle"
          v-if="!isVideo && (isHalfSquare || isFullSquare)"
        >
          <img :src="imgSrc" alt="" />
        </div>
        <div
          @click="navigateToArticle"
          class="half-round__img"
          v-if="isProject"
        >
          <img :src="imgSrc" alt="" />
          <span class="half-round__count" v-if="data.count">
            +{{ data.count }}
          </span>
        </div>
        <div class="full-square__video" v-if="isVideo">
          <client-only>
            <youtube
              :player-vars="{
                controls: 0,
                rel: 0,
                iv_load_policy: 3,
                modestbranding: 1,
                autohide: 1
              }"
              :video-id="videoID"
              player-height="100%"
              player-width="100%"
            ></youtube>
          </client-only>
        </div>
      </div>

      <div
        class="digest-block__quote"
        v-if="isHalfSquare && data.quote"
      >
        {{ data.quote.slice(0, 100) + "..." }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DigestBlock",
  props: {
    data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  computed: {
    type() {
      return this.data.type;
    },
    isText() {
      return this.data.type === "full-text";
    },
    videoID() {
      return this.data.video;
    },
    isVideo() {
      return (
        this.data.type.indexOf("full") >= 0 &&
        this.data.video &&
        this.videoID.length > 0
      );
    },
    imgSrc() {
      return this.data.img;
    },
    isHalfSquare() {
      return this.data.type === "half-square";
    },
    isFullSquare() {
      return this.data.type === "full-square";
    },
    link() {
      return this.data.link;
    },
    isProject() {
      return process.client && this.data.link &&(
        this.link.indexOf(`${location.hostname}/public`) >= 0 ||
        this.link.indexOf(`${location.hostname}/living`) >= 0
      );
    },
    title() {
      return this.data.title;
    }
  },
  methods: {
    navigateToArticle() {
      if (this.isText || this.isVideo) return false;

      const isOuter = this.link.indexOf("http") >= 0;

      const newLink = this.link
        ? this.isProject || isOuter
          ? this.link
          : "digest/" + this.link
        : "/";

      if (isOuter) {
        window.open(newLink);
        // this.$router.push({path:newLink, beforeEnter() { location.href = '' }});
      } else {
        this.$router.push({ path: newLink });
      }
    }
  },
  mounted() {
    console.log(this.data)
  }
};
</script>

<style scoped></style>
