<template>
	<div>
		<footer class="footer">
			<nuxt-link class="footer-logo" :to="'/'">
				<img src="~assets/icons/footer-logo.svg" alt="">
			</nuxt-link>

			<div class="footer-links">
				<nuxt-link v-for="(link, i) in footer.footer_links" :to="link.link" class="footer-links__link" :key="i">
					{{link.text}}
				</nuxt-link>

			</div>

			<div class="footer-socials">
				<a v-for="(social, i) in footer.footer_socials" :href="social.link" :key="i">
					<img :src="social.icon" alt="">
				</a>
			</div>

			<div class="footer-copyright">
				<img src="~assets/icons/copyright.svg" alt="">
				<img src="~assets/icons/world.svg" alt="">
				<p class="h7 pt-4">{{footer.footer_copyright}}</p>
			</div>
		</footer>
	</div>
</template>

<script>
  export default {
    data() {
      return {}
    },
    computed: {
      footer() {
        return this.$store.state.footer;
      },
    },
  }
</script>
