<template>
  <div :class="{ opened: isFormModalOpened }" class="form-popup">
    <div class="form-popup__inner" ref="formPopupInner">
      <div class="form-popup__top">
        <button @click="closeFormModal" class="form-popup__close" type="button">
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="form-popup__content">
        <transition name="fade">
          <form @submit="submitForm" class="request-form" v-if="!formIsSent">
            <label class="request-form__line" for="request_name">
              <span class="h2">{{ formText.form_name.sign }}</span>

              <input
                :placeholder="formText.form_name.placehold"
                class="request-form__input"
                id="request_name"
                name="name"
                required
                type="text"
              />
            </label>

            <label class="request-form__line" for="request_tel">
              <span class="h2">{{ formText.form_tel.sign }}</span>

              <input
                :placeholder="formText.form_tel.placehold"
                class="request-form__input"
                id="request_tel"
                name="phone"
                required
                type="text"
              />
            </label>

            <label class="request-form__line" for="request_email">
              <span class="h2">{{ formText.form_email.sign }}</span>

              <input
                :placeholder="formText.form_email.placehold"
                class="request-form__input"
                id="request_email"
                name="email"
                required
                type="email"
              />
            </label>

            <label class="request-form__line" for="request_message">
              <span class="h2">{{ formText.form_message.sign }}</span>

              <textarea
                :placeholder="formText.form_message.placehold"
                class="request-form__input request-form__input--message"
                id="request_message"
                name="message"
                required
              >
              </textarea>
            </label>

            <button class="request-form__submit" type="submit">
              {{ formText.form_submit }}
            </button>
          </form>
          <div style="padding-top: 8rem; text-align: center;" v-else>
            <h2>Спасибо</h2>
            <p>Мы свяжемся с Вами ближайшее время</p>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "FormPopup",
  data() {
    return {
      formIsSent: false
    };
  },
  mounted() {
    if (this.$mq !== "sm" && this.$mq !== "xs") {
      const mainHeader = document.querySelector(".header");
      this.$refs.formPopupInner.style.paddingTop =
        mainHeader.offsetHeight + "px";
    }
  },
  methods: {
    closeFormModal() {
      this.$store.dispatch("closeFormModal");
    },
    submitForm(ev) {
      ev.preventDefault();
      const data = new FormData(ev.target);

      this.$axios({
        method: "POST",
        // url: "http://architects.nextpage.com.ua/api/send-form",
        url: "http://admin.ab-architects.ru/api/send-form",
        data,
        headers: {
          "Access-Control-Allow-Origin": "*",
          "Access-Control-Allow-Methods": "POST",
          "Access-Control-Allow-Headers":
            "Origin, Accept, Content-Type, Authorization, Access-Control-Allow-Origin"
        }
      }).then(() => {
        this.formIsSent = true;
        setTimeout(() => {
          this.closeFormModal();

          setTimeout(() => {
            this.formIsSent = false;
          }, 500);
          //ev.target.
        }, 3000);
      });
    }
  },
  computed: {
    ...mapGetters(["isFormModalOpened"]),
    formText() {
      return this.$store.state.requestFormText;
    }
  }
};
</script>
