<template>
  <div class="viewport" ref="viewport">
    <div class="scene3D-container">
      <div class="scene3D" ref="scene3D">
        <template v-for="(project, index) in projectsInViewport">
          <div
            :class="[
              { 'scene3D-element--cta': project.ctaBtn },
              project.classes
            ]"
            :key="`project-${project.slug}`"
            :ref="`projectDOM-${project._index}`"
            :style="setElementStyles(project._index)"
            @click.prevent="
              navigateToProject($event, +project.slug, project._index)
            "
            class="scene3D-element project-card-overlay"
          >
            <nuxt-link
              :to="{ name: 'category-list' }"
              class="h1 bottom-link bottom-link--category"
              v-if="project.ctaBtn"
            >
              <span></span><span></span><span></span>
            </nuxt-link>
            <ProjectCard :index="index" :project="project" v-else />
          </div>
        </template>
        <!--<div class="scene3D-element project-card-overlay"></div>-->

        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ProjectCard from "@/components/ProjectCard";

export default {
  components: {
    ProjectCard
  },
  props: {
    category: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      perspectiveOrigin: {},
      viewportHeight: 0,
      projectsDOM: [],
      scrollPosition: 0,
      scrollDirection: -1,
      vbarContent: null,
      bottomLinkText: "",
      bottomLinkLink: ""
    };
  },
  mounted() {
    if (process.browser) {
      this.$nextTick(this.initGallery);

      this.vuebarState = this.$vuebar.getState(
        document.querySelector("[data-el1]")
      );
      setTimeout(() => {
        this.vuebarState.el2.scrollTo(0, this.$store.state.scrollDepth);
      }, 100);
      //this.scrollPosition = this.$store.state.scrollDepth;
    }
  },
  beforeDestroy() {
    if (process.browser) {
      setTimeout(() => {
        this.vbarContent.removeEventListener("scroll", this.scrollHandler);
        this.navigateToProject = null;
        this.initGallery = null;
      }, 500);
    }

    if (this.$route.params.category && this.$route.params.id) {
      this.$store.dispatch("setScrollDepth", this.scrollPosition);
    } else {
      this.$store.dispatch("setScrollDepth", 0);
    }
  },
  computed: {
    activeLang() {
      return this.$store.state.activeLang;
    },
    ...mapGetters({
      getProjectsByCategory: "projects/getProjectsByCategory"
    }),
    projects() {
      let projects = this.getProjectsByCategory(this.category).slice(0, 10);

      /*if (process.browser) {
          var ua = navigator.userAgent.toLowerCase();
          if (ua.indexOf("safari") !== -1) {
            if (ua.indexOf("chrome") > -1) {
            } else {
              projects = projects.slice(0, 15);
            }
          }
        }*/
      projects.push({ ctaBtn: true });

      return projects.reduce((accum, project, index) => {
        accum.push({
          ...project,
          _index: index,
          classes: {}
        });

        return accum;
      }, []);
    },
    projectsInViewport() {
      return this.projects.reduce((accum, project) => {
        let projectPositions = this.projectsPosition[project._index];
        if (projectPositions.length) {
          let centerPosition = projectPositions[1];
          let offsetMax = this.scrollPosition + 2000;
          let offsetMin = this.scrollPosition - 2000;

          if (centerPosition > offsetMin && centerPosition < offsetMax) {
            accum.push(project);
          }
        }

        return accum;
      }, []);
    },
    projectsLength() {
      return this.projects.length;
    },
    projectsPosition() {
      let positionsArray = [];
      let distance = this.viewportHeight / (this.projectsLength );
      let positionStart;
      let positionCenter;
      let positionEnd = 0;
      let i;
      // console.log(this.projectsLength)
      for (i = 0; i < this.projectsLength; i++) {
        if (i === 0) {
          positionStart = positionCenter = positionEnd;
        } else {
          positionStart = positionCenter;
          positionEnd = Math.round(
            i * distance * 1.15 - (distance / (this.projectsLength - 1)) * i + 1
          );
          positionCenter =
            this.$mq === "sm" || this.$mq === "xs"
              ? Math.round(
                  positionStart +
                    (positionEnd - positionStart) / (1.7 + i * 0.134)
                )
              : Math.round(
                  positionStart +
                    (positionEnd - positionStart) / (1.7 + i * 0.15)
                );
        }
        positionsArray.push([
          positionStart.toFixed(0),
          positionCenter.toFixed(0),
          positionEnd.toFixed(0)
        ]);
      }

      return positionsArray;
    },
    isScrollDown() {
      return this.scrollDirection === -1;
    }
  },
  methods: {
    initGallery() {
      this.vbarContent = this.$nuxt.$el.querySelector(".vb-content");

      const scene3D = this.$refs.scene3D;

      this.$gsap.TweenMax.to(scene3D, 1.2, {
        z: this.vbarContent.scrollTop,
        ease: this.$gsap.Power1.easeinOut
      });

      /*document.documentElement.style.setProperty(
          "--cameraZ",
          this.scrollPosition
        );*/
      //this.setElementsPosition(this.projectsDOM);
      this.setSceneHeight();

      for (let i = 0; i < this.projectsInViewport.length; i++) {
        this.controlProject(this.projectsInViewport[i]);
      }

      // for (let i = 0; i < this.projectsLength; i++) {
      //     this.controlProject(this.projectsDOM[i], i);
      // }

      this.vbarContent.addEventListener("scroll", this.scrollHandler);
    },
    scrollHandler(e) {
      window.requestAnimationFrame(() => {
        this.getScrollPosition();

        this.moveCamera();

        for (let i = 0; i < this.projectsInViewport.length; i++) {
          this.controlProject(this.projectsInViewport[i]);
        }
      });
    },
    controlProject(project) {
      let state = this.getProjectState(project._index);
      if (project.ctaBtn) {
        if (
          this.scrollPosition >=
          this.viewportHeight - window.innerHeight - 200
        ) {
          project.classes = {
            "is-visible": true
          };
        } else {
          project.classes = {
            "is-visible": false
          };
        }
      } else {
        if (this.isScrollDown) {
          project.classes = {
            "is-visible": state === "start",
            "is-show": state === "show"
          };
        } else {
          project.classes = {
            "is-visible": state === "show" || state === "start",
            "is-show": state === "show"
          };
        }
      }
    },
    getProjectState(index) {
      let positionStart = this.projectsPosition[index][0];
      let positionCenter = this.projectsPosition[index][1];
      let positionEnd = this.projectsPosition[index][2];
      let state;
      let isStart = positionStart <= this.vbarContent.scrollTop;
      let isCenter = positionCenter <= this.vbarContent.scrollTop + 100;
      let notEnd = positionEnd >= this.vbarContent.scrollTop - 100;
      if (isStart && notEnd) {
        state = "start";

        if (isCenter && notEnd) {
          state = "show";
        }
      } else {
        state = "end";
      }

      return state;
    },
    setElementStyles(index) {
      let defaultStyles = {
        transform: `translate3D(0, -40%, calc(700 * ${index} * -1px))`
      };
      let result;

      if (index % 2) {
        result = {
          ...defaultStyles,
          right: 0
        };
      } else {
        result = {
          ...defaultStyles,
          left: 0
        };
      }

      return result;
    },
    moveCamera() {
      const scene3D = this.$refs.scene3D;

      this.$gsap.TweenMax.to(scene3D, 1.2, {
        z: this.vbarContent.scrollTop,
        ease: this.$gsap.Power1.easeinOut
      });

      /*document.documentElement.style.setProperty(
          "--cameraZ",
          this.vbarContent.scrollTop
        );*/
    },
    setSceneHeight() {
      const itemZ = 2;
      const scenePerspective = 1; /*parseFloat(
        getComputedStyle(document.documentElement).getPropertyValue(
          "--scenePerspective"
        )
      )*/
      const cameraSpeed = 350; /*parseFloat(
        getComputedStyle(document.documentElement).getPropertyValue(
          "--cameraSpeed"
        )
      )*/

      this.viewportHeight =
        window.innerHeight +
        scenePerspective * cameraSpeed +
        itemZ * cameraSpeed * (this.projectsLength - 2);

      document.documentElement.style.setProperty(
        "--viewportHeight",
        this.viewportHeight
      );
    },
    getScrollPosition() {
      let scrollTop = this.vbarContent.scrollTop;
      this.scrollDirection = scrollTop > this.scrollPosition ? -1 : 1;
      this.scrollPosition = scrollTop;
    },
    navigateToProject(ev, id, index) {
      if (ev.currentTarget.classList.contains("scene3D-element--cta"))
        return false;
      let state = this.getProjectState(index);
      const _inst = this;
      const el = this.$refs[`projectDOM-${index}`][0];
      if (state !== "show") return;

      let projectPoster = el.querySelector(".project-card__poster");

      let clone = projectPoster.cloneNode(true);

      this.$refs.scene3D.style.transition = "none"; // Disabled transition
      this.vbarContent.removeEventListener("scroll", this.scrollHandler); // Disabled scroll

      let layout = this.$nuxt.$el;
      let layoutRect = layout.getBoundingClientRect();
      let projectPosterRect = projectPoster.getBoundingClientRect();

      if (this.$mq !== "sm" && this.$mq !== "xs") {
        var originWidth = (layoutRect.width / 12) * 8.1;
        var originHeight = (layoutRect.height / 12) * 8 + 6;
      } else {
        var originWidth = layoutRect.width * 0.8;
        var originHeight = (layoutRect.height / 12) * 6;
      }

      clone.classList.remove("project-card__poster");
      clone.classList.add("project-card__poster--clone");
      clone.style.width = originWidth + "px";
      clone.style.height = originHeight + "px";

      let scaleY = projectPosterRect.height / originHeight;
      let scaleX = projectPosterRect.width / originWidth;

      this.$gsap.TweenMax.set(clone, {
        top:
          projectPosterRect.top -
          originHeight / 2 +
          projectPosterRect.height / 2,
        left:
          projectPosterRect.left - originWidth / 2 + projectPosterRect.width / 2
      });
      this.$gsap.TweenMax.set(clone.querySelector("img"), {
        scaleX: scaleX,
        scaleY: scaleY
      });

      document.querySelector("main").insertAdjacentElement("afterbegin", clone);

      var cloneImg = clone.querySelector("img"),
        cloneImgSizes = cloneImg.getBoundingClientRect(),
        cat1 =
          layoutRect.width / 2 - cloneImgSizes.left - cloneImgSizes.width / 2,
        cat2 =
          layoutRect.height / 2 - cloneImgSizes.top - cloneImgSizes.height / 2,
        hyp = Math.sqrt(cat1 * cat1 + cat2 * cat2);

      this.$nextTick(() => {
        let timeline = new this.$gsap.TimelineMax();
        timeline
          .addLabel("start")
          .set(
            clone,
            {
              opacity: 1
            },
            "start"
          )
          .to(
            layout.querySelector(".category__information"),
            0.4,
            { xPercent: 20, opacity: 0 },
            "start+=0.2"
          )
          .to(
            layout.querySelectorAll(".category__letters span"),
            0.4,
            { opacity: 0, scale: 1.2 },
            "start+=0.2"
          )
          .to(
            layout.querySelectorAll(".project-card"),
            0.2,
            { opacity: 0 },
            "start+=0.2"
          )
          .addLabel("run")
          .to(
            clone.querySelector("img"),
            1,
            {
              top: 0,
              left: 0,
              x: cat1,
              y: cat2,
              scaleX: 1,
              scaleY: 1,
              ease: ExpoScaleEase.config(0.8, 1, Power2.easeInOut)
            },
            "run"
          );

        timeline.eventCallback("onUpdate", function() {
          if (this.progress() >= 0.3) {
            _inst.$router.push({
              path: "/" + _inst.category + "/" + id
            });
          }
        });

        /*	timeline.eventCallback("onComplete", () => {
                                this.$router.push({
                                  path: "/" + this.category + "/" + id
                                })
                              });*/
      });
    }
  },
  watch: {
    activeLang() {
      this.$gsap.TweenMax.to(".scene3D-container", 0.2, {autoAlpha: 0});

      const scrollContainer = document.querySelector(".vb-content");
      setTimeout(() => {
          this.initGallery();

          setTimeout(() => {
            scrollContainer.scrollTop = scrollContainer.scrollTop + 5;
            // scrollContainer.scrollTop = scrollContainer.scrollTop - 115;
            // for (let i = 0; i < this.projectsInViewport.length; i++) {
            //   this.controlProject(this.projectsInViewport[i]);
            // }
            this.$gsap.TweenMax.to(".scene3D-container", 0.2, {autoAlpha: 1}, "+=0.4");
          }, 900);
        }, 300);
    }
  }
};
</script>
