<template>
  <header class="header">
    <mq-layout mq="sm+">
      <div ref="stub"></div>
    </mq-layout>
    <mq-layout :mq="['sm', 'xs']">
      <div
        class="panel__language"
        @click="showLangDrop"
        :class="{'white': isWhite}"
      >
        {{ activeLang === "ru" ? "Рус" : "Eng" }}
        <div class="panel__dropup">
          <button @click="changeLang" class="lang-btn">
            {{ activeLang === "ru" ? "Eng" : "Рус" }}
          </button>
        </div>
      </div>
    </mq-layout>
    <nuxt-link to="/" class="logo-overlay">
      <LogoIcon
        rel="icon"
        class="logo"
        @mouseenter="cursorDefault"
        :class="{ 'show-text': page === 'category' }"
      ></LogoIcon>
    </nuxt-link>
    <button
      ref="menuBtn"
      class="button button--circle button--md button--light menu__btn menu__btn--open"
      :class="{ 'menu__btn--light': page === 'category' }"
      @click="showMenu"
      @mouseenter="cursorDefault"
    ></button>
  </header>
</template>

<script>
import LogoIcon from "@/static/logo.svg?inline";
import { mapState } from "vuex";

export default {
  data() {
    return {
      langActive: false
    };
  },
  components: {
    LogoIcon
  },
  mounted() {
    if (this.$mq !== "sm" && this.$mq !== "xs") {
      this.$refs.stub.style.width = this.$refs.menuBtn.offsetWidth + "px";
    }
    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");
  },
  computed: {
    ...mapState(["page"]),
    activeLang() {
      return this.$store.state.activeLang;
    },
    isWhite() {
      return this.$store.state.panelsWhite;
    }
  },
  methods: {
    changeLang() {
      let setLang = this.activeLang === "ru" ? "en" : "ru";

      this.$store.dispatch("changeLang", {ctx: this, lang: setLang});

      this.$router.go();
    },
    showLangDrop(ev) {
      if (this.langActive) {
        ev.currentTarget.classList.remove("active");
      } else {
        ev.currentTarget.classList.add("active");
      }

      this.langActive = !this.langActive;
    },
    cursorDefault() {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
    },
    showMenu() {
      this.$store.dispatch("showMenu");
    }
  }
};
</script>
