<template>
  <div @mouseenter="cursorHand" class="slider">
    <div class="slide-wrapper" data-displacement="image/displacement.jpg" data-intensity="-0.8" ref="slideWrapper">
      <div @click="navigateToLiving" @mouseenter="hoverPrev" class="slide-item"></div>
      <div @click="navigateToPublic" @mouseenter="hoverNext" class="slide-item"></div>
      <img :src="images.living" class="slide-item__image">
      <img :src="images.public" class="slide-item__image">
    </div>
    <div class="slider-nav">
      <p :class="prev ? 'is-active' : ''" @click="navigateToLivingM" class="slider-nav__button h3">Living</p>
      <p :class="!prev ? 'is-active' : ''" @click="navigateToPublicM" class="slider-nav__button h3">Public</p>
    </div>
    <div ref="container"></div>

  </div>
</template>

<script>
//import CanvasSlideshow from "~/assets/js/CanvasSlideshow.js";
//require('~/assets/vendor/hover.js');

export default {
  data() {
    return {
      prev: true,
      hoverInstance: null
    };
  },
  computed: {
    images() {
      return this.$store.state.home_images;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  watch: {
    loading() {
      this.timeline.play();
    }
  },
  mounted() {

    this.container = this.$refs.slideWrapper;
    this.imgs = document.querySelectorAll(".slide-item__image");

    this.hoverInstance = new this.$HoverEffect({
      parent: this.container,
      intensity: this.container.dataset.intensity || undefined,
      speedIn: this.container.dataset.speedin || undefined,
      speedOut: this.container.dataset.speedout || undefined,
      easing: this.container.dataset.easing || undefined,
      hover: this.container.dataset.hover || undefined,
      image1: this.imgs[0].getAttribute("src"),
      image2: this.imgs[1].getAttribute("src"),
      displacementImage: this.container.dataset.displacement
    });

    this.timeline = new this.$gsap.TimelineMax();

    if (this.loading) {
      this.timeline.pause();
    }

    this.timeline
        .addLabel("start")
        .fromTo(".slide-wrapper", 1, { autoAlpha: 0 }, { autoAlpha: 1 }, "start")
        .fromTo(".slider-nav", 1, {
          autoAlpha: 0,
          y: 50
        }, {
          autoAlpha: 1,
          y: 0
        }, "start+=0.2")
        .fromTo(".header", 1, {
          autoAlpha: 0,
          y: -40
        }, {
          autoAlpha: 1,
          y: 0
        }, "start+=0.5")
        .fromTo(".cta-btn__wrap canvas", 1, {
          autoAlpha: 0,
          x: 40
        }, {
          autoAlpha: 1,
          x: 0
        }, "start+=0.7")
        .fromTo(".panel", 1, {
          autoAlpha: 0,
          y: 40
        }, {
          autoAlpha: 1,
          y: 0
        }, "start+=0.7");

    //this.init();
    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");
    const _inst = this;

  },
  beforeDestroy() {
		this.hoverInstance.destroy();
    this.hoverInstance = null;
    this.timeline = null;
  },
  methods: {

    navigateToLivingM(e) {
      if (this.$mq === "sm" || this.$mq === "xs") {
        this.$router.push("/living");
      }
    },
    navigateToPublicM() {
      if (this.$mq === "sm" || this.$mq === "xs") {
        this.$router.push("/public");
      }
    },
    cursorArrows(ev) {
      this.dot.classList.add("cursor--arrows");
      this.circle.classList.add("cursor__follower--arrows");
    },
    cursorHand(ev) {
      this.dot.classList.add("cursor--finger");
      this.circle.classList.add("cursor__follower--finger");
    },
    cursorDefault(ev) {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
    },
    hoverNext(e) {
      this.prev = false;
    },
    hoverPrev(e) {
      this.prev = true;
    },
    navigateToLiving(e) {
      if (this.$mq !== "sm" && this.$mq !== "xs") {
        this.cursorDefault();
        this.$router.push("/living");
      }
    },
    navigateToPublic() {
      if (this.$mq !== "sm" && this.$mq !== "xs") {
        this.cursorDefault();
        this.$router.push("/public");
      }
    },
    destroy() {
      //this.slideShow.destroy();
    }
  }
};
</script>

<style lang="scss">

</style>
