<template>
  <div class="menu__wrap" ref="menuWrap">
    <div
      @click="hideMenu"
      @mouseenter="makeCloseCursor"
      class="menu__outside"
    ></div>



    <div
      @mouseenter="
        cursorDefault();
        cursorWhite();
      "
      class="menu"
      :class="{'menu--white': isWhite}"
    >
      <div class="menu__bg" ref="menuBg"></div>
      <div class="menu__backdrop"></div>
      <div class="menu__content" ref="menuContent">
        <button
          @click="hideMenuM"
          class="button button--md menu__btn menu__btn--close"
        ></button>

        <ul class="menu__list">
          <li :key="i" class="menu__item" v-for="(link, i) in menuData.links">
            <nuxt-link :to="link.link" class="h1 menu__link">
              <span>
                <span :key="j" v-for="(info, j) in link.info">{{ info }}</span>
              </span>
              {{ link.text }}
            </nuxt-link>
          </li>
        </ul>

        <button @click="openFormModal" class="menu__cta" type="button">
          {{ activeLang === "ru" ? "Назначить встречу" : "Make appointment" }}
        </button>

        <div class="menu__info">
          <img alt="" src="~assets/icons/copyright.svg" />
          <img alt="" src="~assets/icons/world.svg" />
          <p class="h7 pt-4">{{ menuData.menu_copyright }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      timeLine: null
    };
  },
  mounted() {
    this.timeLine = new this.$gsap.TimelineMax({ paused: true });
    const ctaBtn = document.querySelector(".menu__cta");

    this.timeLine
      .fromTo(
        this.$refs.menuWrap,
        0.2,
        { display: "none" },
        { display: "block" }
      )
      .fromTo(
        this.$refs.menuBg,
        0.4,
        { scaleY: 0, transformOrigin: "center top", ease: Power4.easeIn },
        { scaleY: 1 }
      )
      .staggerFromTo(
        document.querySelectorAll(".menu__item"),
        0.2,
        { x: 40, autoAlpha: 0 },
        {
          x: 0,
          autoAlpha: 1
        },
        0.1,
        "-=0.1"
      )
      .fromTo(
        ctaBtn,
        0.2,
        { x: 40, autoAlpha: 0 },
        { x: 0, autoAlpha: 1 },
        "-=0.1"
      )
      .fromTo(".menu__info", 0.2, { autoAlpha: 0 }, { autoAlpha: 1 }, "-=0.1");

    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");
  },
  computed: {
    menuVisible() {
      return this.$store.getters.menuVisible;
    },
    menuData() {
      return this.$store.state.menuData;
    },
    activeLang() {
      return this.$store.state.activeLang;
    },
    isWhite() {
      return this.$store.state.panelsWhite;
    }
  },
  watch: {
    "$route.path": {
      handler: function() {
        this.hideMenu();
      }
    },
    menuVisible() {
      if (this.menuVisible) {
        this.timeLine.timeScale(1);
        this.timeLine.play();
      } else {
        this.timeLine.timeScale(2);
        this.timeLine.reverse();
        this.cursorDefault();
      }
    }
  },
  methods: {
    openFormModal() {
      this.hideMenuM();
      this.$store.dispatch("openFormModal");
    },
    makeCloseCursor(ev) {
      this.dot.classList.add("cursor--close");
      this.circle.classList.add("cursor__follower--close");
    },
    cursorDefault() {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
    },
    cursorWhite() {
      if (document.querySelector(".menu").classList.contains("menu--white")) {
        this.dot.classList.add("cursor--dark");
        this.circle.classList.add("cursor__follower--dark");
      }
    },
    hideMenu() {
      this.$store.dispatch("hideMenu");
      this.cursorDefault();
    },
    hideMenuM() {
      if (this.$mq === "sm" || this.$mq === "xs") {
        this.$store.dispatch("hideMenu");
      }
    }
  }
};
</script>
