<template>
  <div>
    <div class="panel">
      <div class="panel__music" ref="panelMusic">
        <button @click="music" @mouseenter="cursorDefault">
          <span class="icon-music">
            <svg height="13" width="40" xmlns="http://www.w3.org/2000/svg">
              <g transform="translate(0 1)">
                <path
                  d="M0 0c6.363 0 6.363 10 12.726 10 6.362 0 6.362-10 12.725-10C31.814 0 31.814 10 38 10"
                  fill="none"
                  fill-rule="evenodd"
                  id="musicIcon"
                  stroke="#FFF"
                  stroke-width="1"
                />
              </g>
            </svg>
          </span>
        </button>
      </div>
      <mq-layout mq="sm+">
        <div class="panel__time">
          {{ date }}
        </div>
      </mq-layout>
      <mq-layout mq="sm+">
        <div class="panel__interface" ref="panelInterface">
          <div
            :class="{ white: isWhite }"
            @click="showLangDrop"
            @mouseenter="cursorDefault"
            class="panel__language pr-5"
          >
            {{ activeLang === "ru" ? "Рус" : "Eng" }}
            <div class="panel__dropup">
              <button @click="changeLang" class="lang-btn">
                {{ activeLang === "ru" ? "Eng" : "Рус" }}
              </button>
            </div>
          </div>

          <div class="panel__socials pl-5" v-on-clickaway="hideSocialsBox">
            <button
              @click="showSocialsBox"
              @mouseenter="cursorDefault"
              class="socials-box__btn"
              role="button"
            >
              <AddIcon class="icon icon-add" />
            </button>
            <div
              :class="socialsBoxVisible ? 'active' : ''"
              class="socials-box"
              ref="socialBox"
            >
              <div :class="{ white: isWhite }" class="socials-box__content">
                <ul class="socials-box__list">
                  <li
                    :key="i"
                    class="socials-box__item"
                    v-for="(link, i) in socialsList"
                  >
                    <a :href="link.link" class="socials-box__link">
                      {{ link.text }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </mq-layout>

      <div class="panel__audio-hidden">
        <audio loop ref="audioEl">
          <source :src="audioLink" type="audio/mp3" />
        </audio>
      </div>
    </div>

    <div class="cta-btn__wrap">
      <button
        @click="openFormModal"
        @mouseenter="
          cursorNone();
          rotateCTA();
        "
        @mouseleave="stopCTA"
        @mousemove="placeCanvas"
        class="cta-btn"
        type="button"
      ></button>
      <canvas height="150" id="ctaCanvas" width="150"></canvas>
    </div>
  </div>
</template>

<script>
//import SocialsBox from "@/components/SocialsBox";
import MusicIcon from "@/assets/icons/music.svg?inline";
import MusicStraightIcon from "@/assets/icons/music-straight.svg?inline";
import AddIcon from "@/assets/icons/add.svg?inline";

if (process.client) {
  var morphSVG = require("~/assets/vendor/MorphSVGPlugin");

  var plugins = [morphSVG];
}

export default {
  data() {
    return {
      date: null,
      musicPlaying: false,
      curvePath:
        "M0 0c6.363 0 6.363 10 12.726 10 6.362 0 6.362-10 12.725-10C31.814 0 31.814 10 38 10",
      straightPath: "M0 .5h38",
      langActive: false,
      ctx: null,
      canvas: null,
      rotateCount: 0,
      /*fillTextCircle: null,*/
      rotateInterval: null,
      container: null,
      imgs: null
    };
  },
  components: {
    MusicIcon,
    MusicStraightIcon,
    AddIcon
    //SocialsBox
  },
  computed: {
    socialsBoxVisible() {
      return this.$store.getters.socialsBoxVisible;
    },
    socialsList() {
      return this.$store.state.socials_block;
    },
    audioLink() {
      return this.$store.state.audio_link;
    },
    activeLang() {
      return this.$store.state.activeLang;
    },
    isWhite() {
      return this.$store.state.panelsWhite;
    }
  },
  mounted() {
    this.$refs.panelMusic.style.width =
      !!this.$refs.panelInterface ? this.$refs.panelInterface.offsetWidth + "px" : "100%";

    this.assignDate();

    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");

    this.canvas = document.getElementById("ctaCanvas");
    this.ctx = document.getElementById("ctaCanvas").getContext("2d");
    this.ctx.font = "16px Aeroport, sans-serif";
    this.ctx.textAlign = "center";
    this.ctx.fillStyle = "white";
    this.ctx.strokeStyle = "white";
    this.ctx.lineWidth = 4;
    this.ctx.save();
    this.ctx.translate(170, 15);
    this.ctx.rotate(0.5 * Math.PI);
    this.ctx.fillText(
      this.activeLang === "ru" ? "Назначить встречу" : "Make appointment",
      60,
      60
    );

    /*var rect = document.querySelector(".cta-btn").getBoundingClientRect(),
           cnvs = document.getElementById("ctaCanvas"),
           elX = (rect.width - cnvs.offsetWidth) / 2,
           elY = (rect.height - cnvs.offsetHeight) / 2;
      
           this.$gsap.TweenMax.set(cnvs, {x: elX, y: elY, z: 0})*/
  },

  methods: {
    openFormModal() {
      this.$store.dispatch("openFormModal");
    },
    changeLang() {
      let setLang = this.activeLang === "ru" ? "en" : "ru";

      this.$store.dispatch("changeLang", {ctx: this, lang: setLang});

      this.$router.go();
    },
    cursorNone(ev) {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";

      var deco = document.querySelector(".cursor__follower__deco");
      this.$gsap.TweenMax.to(".cursor__follower__deco", 0.1, {
        width: 29,
        height: 29
      });
      this.$gsap.TweenMax.to(deco, 0.1, { borderColor: "rgba(0,0,0,0.6)" });
      this.$gsap.TweenMax.to(".cursor__deco", 0.1, {
        width: 8,
        height: 8
      });
    },
    stopCTA() {
      //return false;
      var cnvs = document.getElementById("ctaCanvas");

      this.$gsap.TweenMax.to(cnvs, 0.3, {
        x: 0,
        y: "-50%",
        z: 0
      });

      var deco = document.querySelector(".cursor__follower__deco");
      this.$gsap.TweenMax.to(".cursor__follower__deco", 0.1, {
        width: 43,
        height: 43
      });
      this.$gsap.TweenMax.to(deco, 0.1, {
        borderColor: "rgba(255, 255, 255, 0.3)"
      });
      this.$gsap.TweenMax.to(".cursor__deco", 0.1, {
        width: 3,
        height: 3
      });

      this.ctx.clearRect(0, 0, 150, 150);
      this.ctx.save();
      this.ctx.translate(170, 15);
      this.ctx.rotate(0.5 * Math.PI);
      this.ctx.fillText(
        this.activeLang === "ru" ? "Назначить встречу" : "Make appointment",
        60,
        60
      );
      clearInterval(this.rotateInterval);
    },
    placeCanvas(ev) {
      var rect = ev.currentTarget.getBoundingClientRect(),
        cnvs = document.getElementById("ctaCanvas"),
        elX = ev.x - rect.left - cnvs.offsetWidth / 2,
        elY = ev.y - rect.top - cnvs.offsetHeight / 2;
      this.$gsap.TweenMax.to(cnvs, 0.3, {
        x: elX,
        y: elY,
        z: 0
      });
    },
    rotateCTA() {
      this.ctx.restore();
      this.ctx.clearRect(0, 0, 140, 140);

      this.rotateInterval = setInterval(() => {
        this.ctx.clearRect(0, 0, 150, 150);
        this.fillTextCircle(
          this.ctx,
          this.activeLang === "ru" ? "Назначить встречу" : "Make appointment",
          75,
          75,
          40,
          Math.PI / 2
        );
        this.rotateCount += 0.03;
      }, 15);
    },
    fillTextCircle(context, text, x, y, radius, startRotation) {
      var numRadsPerLetter = (1.5 * Math.PI) / text.length;
      context.save();
      context.translate(x, y);
      context.rotate(startRotation);

      for (var i = 0; i < text.length; i++) {
        context.save();
        context.rotate(i * numRadsPerLetter + this.rotateCount);

        context.fillText(text[i], 0, -radius);
        context.restore();
      }
      context.restore();
    },
    hideSocialsBox() {
      this.$store.dispatch("hideSocialsBox");
    },
    showLangDrop(ev) {
      if (this.langActive) {
        ev.currentTarget.classList.remove("active");
      } else {
        ev.currentTarget.classList.add("active");
      }

      this.langActive = !this.langActive;
    },
    cursorDefault() {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
    },
    music(ev) {
      if (this.musicPlaying) {
        this.$refs.audioEl.pause();
        this.$gsap.TweenMax.to("#musicIcon", 0.5, {
          morphSVG: this.straightPath
        });
      } else {
        this.$refs.audioEl.play();
        this.$gsap.TweenMax.to("#musicIcon", 0.5, { morphSVG: this.curvePath });
      }
      this.musicPlaying = !this.musicPlaying;
    },
    showSocialsBox() {
      if (this.socialsBoxVisible) {
        this.$store.dispatch("hideSocialsBox");
      } else {
        this.$store.dispatch("showSocialsBox");
      }
    },
    assignDate() {
      var date = new Date(),
        days =
          this.activeLang === "ru"
            ? ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"]
            : ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

      this.date = `${days[date.getDay()]} ${
        date.getHours() < 10 ? "0" + date.getHours() : date.getHours()
      }:${
        date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()
      }`;

      setInterval(() => {
        date = new Date();
        this.date = `${days[date.getDay()]} ${
          date.getHours() < 10 ? "0" + date.getHours() : date.getHours()
        }:${
          date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes()
        }`;
      }, 60000);
    }
  },
  watch: {
    activeLang: {
      handler() {
        this.ctx.restore();
        this.stopCTA();
        this.assignDate();
      }
    }
  }
};
</script>
