<template>
    <div class="project-card">
        <div class="project-card__number">
            {{ (index + 1) | addZero }} - {{ (index + 1) | romanize }}
        </div>
        <div class="project-card__poster">
            <img :src="project.poster._1440" alt="">
        </div>
        <div class="project-card__quotes">
            <div class="quotes__text h6" v-html="project.quotes.text">
            </div>
            <div class="quotes__author">
                {{ project.quotes.author }}
            </div>
        </div>
        <h3 class="project-card__title">
            {{ project.title }}
        </h3>
    </div>
</template>

<script>
	export default {
		props: {
			project: {
				type: Object,
				required: true
			},
			index: {
				type: Number,
				required: true
			}
		},
		filters: {
			romanize: function (value) {
				if (!value) return '';

				let lookup = {
						M: 1000,
						CM: 900,
						D: 500,
						CD: 400,
						C: 100,
						XC: 90,
						L: 50,
						XL: 40,
						X: 10,
						IX: 9,
						V: 5,
						IV: 4,
						I: 1
					},
					roman = '',
					i;
				for (i in lookup) {
					while (value >= lookup[i]) {
						roman += i;
						value -= lookup[i];
					}
				}
				return roman;
			},
			addZero: function (value) {
				if (!value) return '';

				return (value < 10 ? '0' : '') + value;
			}
		},
	}
</script>

<style lang="scss">

</style>