<template>
	<div v-on-clickaway="hideSocialsBox" class="socials-box">
		<div class="socials-box__content">

			<ul class="socials-box__list">
				<li class="socials-box__item">
					<a href="#" class="socials-box__link">
						Facebook
					</a>
				</li>
				<li class="socials-box__item">
					<a href="#" class="socials-box__link">
						Behance
					</a>
				</li>
				<li class="socials-box__item">
					<a href="#" class="socials-box__link">
						Instagram
					</a>
				</li>
				<li class="socials-box__item">
					<a href="#" class="socials-box__link">
						Pinterest
					</a>
				</li>
				<li class="socials-box__item">
					<a href="#" class="socials-box__link">
						Houzz
					</a>
				</li>
			</ul>
		</div>
	</div>
</template>

<script>
  export default {
    computed: {
      socialsBoxVisible() {
        return this.$store.getters.socialsBoxVisible;
      }
    },
    methods: {
      hideSocialsBox() {
        this.$store.dispatch('hideSocialsBox')
      }
    }
  }
</script>
