.about-inner {
  &__top {
    position: sticky;
    top: 0;
    padding: 8rem 15rem 0 8rem;
  }

  &__title {
    .h1 {
      margin: 0;
    }
  }

  @media screen and (max-width: 768px) {
    &__top {
      position: static;
      padding: 8rem 15px 2rem 15px;
    }
  }
}

.about-content {
  position: relative;
  /*display: flex;
	justify-content: space-between;*/

  &__left {
    //position: relative;
    //height: 100%;
    flex: 1;
    padding-right: 5rem;
  }

  &__right {
    width: 350px;
    max-width: 100%;
  }

  &__subtitle-zone {
    position: relative;
    padding-top: 6.8rem;
  }

  &__subtitle {
    position: sticky;
    top: 157px;
    left: 0;
    width: 100%;
    z-index: 1;

    h3 {
      text-align: right;
      opacity: 0.3;
      text-transform: none;
      line-height: 1;
      margin: 0;
    }
  }

  @media screen and (min-width: 2500px) {
    &__right {
      width: 22rem;
    }
  }
  @media screen and (max-width: 768px) {
    padding-top: 0;
    &__subtitle {
      position: static;
      padding: 0 15px;

      &-zone {
        padding: 0;
      }

      h3 {
        text-align: left;
      }
    }

    &__left {
      padding: 0;
    }

    &__subtitle &__right {
      display: none;
    }
  }
}

.about-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.87rem;
  padding: 0 15rem 0 8rem;

  &__left {
    //position: relative;
    //height: 100%;
    flex: 1;
    padding-right: 5rem;
  }

  &__right {
    width: 350px;
    max-width: 100%;
  }

  &__title {
    position: sticky;
    top: 92px;
    left: 0;
    width: 100%;
    text-align: right;
    opacity: 0.3;

    h3 {
      text-transform: none;
    }
  }

  &__right-text {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: -1.75rem;
      left: 50%;
      height: 7px;
      width: 7px;
      background-color: $white;
      border-radius: 50%;
      transform: translateX(-50%);
    }

    h3 {
      height: 4.5rem;
      margin-bottom: 1.6rem;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }

  &:last-of-type &__right &__right-text {
    margin-bottom: 0;
  }

  @media screen and (min-width: 2500px) {
    &__right {
      width: 22rem;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0 15px;
    margin-bottom: 2rem;
    &__left {
      display: none;
    }

    &__right {
      width: 100%;
    }
  }
}

.about-photos {
  position: relative;
  height: 650px;
  margin-bottom: 3rem;
  padding: 0 15rem 0 8rem;

  &__photo {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-of-type(1) {
      right: 15rem;
      top: 0;
      width: 340px;
      height: 240px;
    }

    &:nth-of-type(2) {
      right: 15rem;
      top: 260px;
      width: 340px;
      height: 340px;
    }

    &:nth-of-type(3) {
      right: calc(360px + 15rem);
      top: 150px;
      width: 340px;
      height: 450px;
    }
  }

  @media screen and (max-width: 768px) {
    height: auto;
    padding: 0 15px;

    &__photo {
      position: static;
      max-width: 100%;
      height: 240px !important;
      margin-bottom: 20px;
    }
  }
}

.about-awards {
  padding: 0 15rem 7rem 8rem;

  &__title {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 7rem;
    padding-right: calc(350px + 5rem);
    opacity: 0.4;

    h3 {
      width: 278px;
      text-transform: none;
    }
  }

  &__awards {
    display: flex;
    //justify-content: center;
    align-items: center;
    overflow-x: auto;

    //overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    //flex-wrap: nowrap;
    //white-space: nowrap;
    //padding: 0 15rem 0 8rem;
  }

  @media screen and (min-width: 2500px) {
    &__title {
      padding-right: 32rem;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0 15px 2rem 15px;

    &__title {
      padding: 0;
      margin-bottom: 2rem;

      h3 {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
      }

      span {
        display: inline-block;
        margin-left: auto;
        font-size: 12px;
        color: $white;
      }
    }

    &__inner {
      justify-content: flex-start;
    }
  }
}

.about-award {
  position: relative;
  width: calc(5rem + 300px);
  padding: 0 calc(5rem + 40px) 30px 40px;
  text-align: center;
  //margin-right: 5rem;
  flex: 0 0 calc(5rem + 300px);

  & > * {
    white-space: normal;
  }

  &__palm {
    position: absolute;
    top: calc(50% - 20px);
    display: block;

    &:nth-of-type(1) {
      left: 0;
      transform: translateY(-50%);
    }

    &:nth-of-type(2) {
      right: 5rem;
      transform: translateY(-50%) scaleX(-1);
    }
  }

  &__mark {
    position: absolute;
    left: calc(50% - 3rem);
    bottom: 0;
    transform: translateX(-50%);
    opacity: 0.3;

    h4 {
      margin: 0;
    }
  }

  /*&:nth-of-type(1) {
		margin-right: 7rem;
	}*/

  @media screen and (max-width: 560px) {
    padding: 0 40px 40px 45px;
    width: 250px;
    flex: 0 0 250px;
    margin: 0 15px;

    &__title {
      h3 {
        font-size: 1.3rem;
      }
    }

    &__palm {
      top: calc(50% - 2px);

      &:nth-of-type(1) {
        left: 0;
      }

      &:nth-of-type(2) {
        right: -0.5rem;
      }
    }

    &__mark {
      left: 50%;
    }
  }

  @media screen and (min-width: 2500px) {
    width: calc(8rem + 300px);
  }
}

.about-philosophy {
  padding: 0 7rem 0 7rem;

  &__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6.875rem;

    .h1 {
      width: 100%;
      font-family: $font-primary;
      font-style: italic;
      text-transform: none;
      text-align: center;
    }

    button {
      position: relative;
      display: block;
      padding: 0 7rem 0 0;
      background-color: transparent;
      border: none;
      font-family: $font-accent;
      font-size: 6.35rem;
      line-height: 1.11236;
      color: $white;
      text-transform: uppercase;

      span:nth-of-type(2) {
        position: absolute;
        top: 0;
        right: 5.5rem;
        font-size: 18px;
        font-family: $font-default;
        color: $white;
      }

      span:nth-of-type(1) {
        position: relative;
        display: block;

        &:before {
          content: "";
          position: absolute;
          display: block;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 7px;
          background-color: #fff;
          transition: $transition-base;
          transform: scaleX(0);
          transform-origin: left center;
        }
      }

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        right: calc(3.5rem - 12px);
        transform: translateY(-50%);
        width: 24px;

        height: 24px;
        border: 3px solid $white;
        border-radius: 50%;
      }

      &:hover span:before {
        transform: scaleX(1);
        //cursor: default;
        /*span:nth-of-type(1):before {
					background-color: $white;
				}*/
      }
    }
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h4 {
      position: relative;
      width: 350px;
      max-width: 100%;
      margin-bottom: 6.87rem;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -3.4rem;
        left: 50%;
        height: 7px;
        width: 7px;
        background-color: $white;
        border-radius: 50%;
        transform: translateX(-50%);
      }
    }

    h3 {
      position: absolute;
      top: 0;
      right: calc(350px + 10rem);
    }

    &:last-of-type {
      h4 {
        &:after {
          display: none;
        }
      }
    }
  }

  @media screen and (min-width: 2500px) {
    &__text {
      h4 {
        width: 22rem;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 15px 2rem 15px;

    &__top {
      margin-bottom: 2rem;

      button {
        font-size: 4rem;
        padding-right: 3rem;

        &:after {
          width: 18px;
          height: 18px;
          border-width: 2px;
          right: calc(2rem - 12px);
        }

        span:nth-of-type(2) {
          right: 0;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    &__top {
      button {
        font-size: 3rem;
      }
    }
  }
}

.about-us {
  margin-bottom: 5.6rem;
  border-bottom: 1px solid #252525;

  .half-square .digest-block__inner {
  }

  .half-square__img {
    margin-bottom: 10px;
  }
}

.about-us-block {
  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    margin-bottom: 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: $font-default;
  }

  &__occup {
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    opacity: 0.3;
    font-family: $font-primary;
  }

  /*.half-round__img {
    height: 420px;
    .half-round__count {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 250px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: 4px;
      font-family: $font-accent;
      z-index: 2;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #1a1a1a;
        z-index: -1;
        transition: $transition-base;
        transform-origin: center center;
      }

      &:hover:before {
        transform: scale(1.2);
      }
    }
  }*/
}

.about-bottom {
  .digest-first {
    height: 340px;

    @media screen and (min-width: 2500px) {
      height: 22rem;
    }
  }
}

/*.about__half-round {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;

  img {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 0;

    &:nth-of-type(1) {
      left: -125px;
      top: -125px;
    }

    &:nth-of-type(3) {
      left: -125px;
      bottom: -125px;
    }

    &:nth-of-type(2) {
      right: -125px;
      top: -125px;
    }

    &:nth-of-type(4) {
      right: -125px;
      bottom: -125px;
    }
  }
}*/
