.main-category {
}

.category {
  &__information {
    position: fixed;
    top: 9rem;
    right: 5rem;
    color: $color-dark;
    text-align: right;
  }

  &__title {
    margin-bottom: -0.5rem;
  }

  &__description {
    position: relative;
    display: inline-block;
    padding: 0 0 2px 0;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 100%;
      width: 100%;
      height: 1px;
      background-color: $color-dark;
      transform: translate3d(0, 0, 0);
      transition: transform 0.5s ease 0s;
    }

    &:hover {
      &:after {
        transform: translate3d(-100%, 0, 0);
        transition-delay: 0.33333s;
      }
    }
  }

  &__letters {
    position: fixed;
    z-index: 10;
    font-family: $font-accent;
    font-weight: 400;
    font-size: 15rem;
    transform: translateZ(10px);
    perspective: 1000px;
    perspective-origin: center;
    pointer-events: none;

    span {
      position: absolute;
      display: inline-block;
      line-height: 1;
    }

    $positions: (
      5: 10,
      70: 20,
      30: 1,
      20: 50,
      55: 55,
      85: 65
    );

    @each $x, $y in $positions {
      $i: index(($positions), ($x $y));
      span:nth-of-type(#{$i}) {
        top: calc(var(--vh) * #{$y});
        left: $x * 1vw;
        transform: scale(1.7);
      }
    }

    span:nth-of-type(2n) {
      opacity: 0;
      will-change: transform, opacity;
      transition: transform $tr-duration * 1.5 $tr-timing,
        opacity $tr-duration * 1.5 $tr-timing;
    }

    span:nth-of-type(2n + 1) {
      //transform: translate3d(0, -3rem, 0);
      opacity: 0;
      will-change: transform, opacity;
      transition: transform $tr-duration * 1.5 $tr-timing,
        opacity $tr-duration * 1.5 $tr-timing;
    }

    &.is-show {
      @each $x, $y in $positions {
        $i: index(($positions), ($x $y));
        span:nth-of-type(#{$i}) {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-height: 665px) and (min-width: 1280px) {
    &__letters {
      $positions: (
        5: 10,
        70: 20,
        30: 1,
        20: 45,
        55: 55,
        85: 60
      );

      @each $x, $y in $positions {
        $i: index(($positions), ($x $y));
        span:nth-of-type(#{$i}) {
          top: calc(var(--vh) * #{$y});
          left: $x * 1vw;
          transform: scale(1.7);
        }
      }

      &.is-show {
        @each $x, $y in $positions {
          $i: index(($positions), ($x $y));
          span:nth-of-type(#{$i}) {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__information {
      right: 15px;
    }
    &__letters {
      font-size: 10rem;
      $positions: (
        5: 40,
        70: 25,
        18: 20,
        28: 57,
        65: 62,
        77: 45
      );

      @each $x, $y in $positions {
        $i: index(($positions), ($x $y));
        span:nth-of-type(#{$i}) {
          top: calc(var(--vh) * #{$y});
          left: $x * 1vw;
          transform: scale(1.7);
        }
      }

      &.is-show {
        @each $x, $y in $positions {
          $i: index(($positions), ($x $y));
          span:nth-of-type(#{$i}) {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}
