.main-contacts {
  @media screen and (max-width: 768px) {
    margin-bottom: 8rem;
  }
}

.contact-box {
  &__nav {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &_link {
      position: relative;
      //transition: opacity $tr-duration $tr-timing;
      opacity: 0.3;
      cursor: pointer;
      margin-bottom: 0.35rem;
      overflow: hidden;
      transition: all 0.33333s ease 0.33333s;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.is-active {
        opacity: 1;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 100%;
        width: 100%;
        height: 1px;
        background-color: $color-white;
        transform: translate3d(0, 0, 0);
        transition: transform 0.5s ease 0s;
      }

      &:hover {
        margin-bottom: 0.35rem;
        transition-delay: 0s;

        &:after {
          transform: translate3d(-100%, 0, 0);
          transition-delay: 0.33333s;
        }
      }
    }
  }
}

.address {
  font-size: 1.75rem;

  &-link {
    display: inline-flex;
    align-items: center;

    &__icon {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid rgba($color-white, 0.1);
      margin-right: 0.5rem;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: -15px;
        margin-left: -15px;
        border: 1px solid rgba($color-white, 0.03);
        transition: $transition-base;
        transform-origin: center;
      }
    }

    &__title {
      transition: $transition-base;
    }

    &:hover &__title {
      opacity: 0.3;

      &:after {
        transform: scale(0);
      }
    }

    &:hover &__icon:after {
      transform: scale(0);
    }
  }

  &-phone {
    display: inline-block;
    font-size: 1.75rem;
    transition: $transition-base;

    &:hover {
      opacity: 0.4;
    }
  }

  &-mail {
    display: inline-block;
    font-size: 18px;
    transition: $transition-base;

    &:hover {
      opacity: 0.4;
    }
  }

  &-schedule {
    &__time {
      opacity: 0.3;
    }
  }

  @media screen and (max-width: 768px) {
    &-phone,
    &-mail {
      margin-bottom: 10px;
    }
  }
}

.contacts-socials {
  display: flex;

  a {
    display: block;
    max-width: 22px;
    max-height: 22px;
    margin-right: 14px;
    transition: $transition-base;

    &:hover {
      opacity: 0.4;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 15px;
    a {
      max-width: 42px;
      max-height: 42px;
      padding: 10px;
    }
  }
}
