.main-digest{
	position: absolute;
	//height: 100vh;
	//height: calc(var(--vh, 1vh * 100));
}

.digest-first {
	/*position: absolute;
	top: 0;
	left: 0;*/
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	height: calc(var(--vh, 1vh * 100));
	width: 100%;

	&__title {
		padding-left: 0.8rem;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: $black;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0.65;
		}
	}
}
