.services-inner {
	position: relative;
	padding: 8rem 15rem 0 8rem;

	&__top {
		position: absolute;
		top: 10rem;
		right: 15rem;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__title {
		position: sticky;
		top: 5.5rem;


		.h1 {
			margin: 0;
		}
	}

	&__tabs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 350px;
		max-width: 100%;
	}

	&__tab {
		margin-bottom: 5px;
		padding: 0;
		background-color: transparent;
		border: none;
		color: $white;
		opacity: 0.3;
		transition: $transition-base;

		&.active {
			opacity: 1;
		}
	}

	@media screen and (min-width: 2500px) {
		&__tabs {
			width: 22rem;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 8rem 15px 0 15px;

		&__top {
			position: static;
		}

		&__title {
			position: static;
		}
	}
}

.services-content {
	padding-top: 6.8rem;

	@media screen and (max-width: 768px) {
		padding-top: 2rem;
	}
}

.services-section {
	display: flex;
	justify-content: space-between;

	&__left {
		position: relative;
		//height: 100%;
		flex: 1;
		padding-right: 5rem;
		opacity: 0.3;
	}

	&__right {
		width: 350px;
		max-width: 100%;
	}

	&__title {
		position: sticky;
		top: 120px;
		left: 0;
		width: 100%;
		text-align: right;

		h3 {
			margin: 0;
			line-height: 1;
		}
	}

	&__right-text {
		position: relative;
		margin-bottom: 6.87rem;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: calc(100% + 30px);
			left: 50%;
			height: 7px;
			width: 7px;
			background-color: $white;
			border-radius: 50%;
			transform: translateX(-50%);
		}

		h3 {
			//height: 4.5rem;
			margin-bottom: 1.6rem;
		}

		&:last-of-type {
			&:after {
				display: none;
			}
		}
	}

	&:last-of-type &__right &__right-text {
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: 2500px) {
		&__right {
			width: 22rem;
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;

		&__left {
			width: 100%;
			padding: 0;
		}

		&__title {
			text-align: left;
		}
	}
}

.services-bottom {
	position: relative;
	width: 100%;
	padding-top: 35%;

	a {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 162px;
		height: 162px;
		background-color: transparent;
		border: 1px solid #5E5D62;
		border-radius: 50%;
	}

	@media screen and (max-width: 768px) {
		padding-top: 55%;
	}
}
