.single-article-page {
	padding: 0 8rem;

	&__related {

	}

	&__related-title {
		display: flex;
	}

	&__related-left, &__related-right {
		flex: 1;
	}

	&__related-left {
		h3 {
			margin-bottom: 4rem;
			opacity: 0.3;
			text-transform: none;
			text-align: center;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 0 15px;
		&__related-title {
			flex-direction: column;
			padding: 0 15px;
		}

		&__related-left {
			h3 {
				margin-bottom: 2rem;
				text-align: left;
			}
		}
	}
}

.single-article {
	&__title {
		width: 80%;
		margin-bottom: 3.75rem;
		text-transform: none;
	}

	&__marks {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 1rem;
	}

	&__dot {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 7px;
		height: 7px;
		background-color: $white;
		border-radius: 50%;

		&--static {
			position: static;
			transform: none;
			margin: 2.6rem 0 1.3rem 0;
		}
	}

	&__left {
		position: relative;

		h3 {
			position: sticky;
			top: 80px;
			opacity: 0.3;
			text-align: center;
			text-transform: none !important;
		}
	}

	&__additional {
		margin-bottom: 2rem;

		p {
			margin: 0;
		}

		&:last-of-type {
			margin-bottom: 5.25rem;
		}
	}

	&__mark {
		color: rgba(255, 255, 255, 0.3);
	}

	&__media {
		margin-bottom: 5rem;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		display: flex;
	}

	&__left, &__right {
		flex: 1;
	}

	&__close {
		display: block;
		width: 60px;
		height: 60px;
		margin: 0 auto 5rem auto;
		background-image: url("/image/polyg-w-t.svg");
		background-size: 100%;
		background-repeat: no-repeat;
	}

	@media screen and (max-width: 768px) {
		&__title {
			width: 100%;
		}

		&__text {
			flex-direction: column;
		}

		&__left {
			h3 {
				text-align: left;
			}
		}
	}
}
