<template>
  <div>
    <transition name="fade">
      <div class="preloader" v-if="loading">
        <div class="preloader__animation" ref="clock"></div>
        <div class="preloader__percent">
          {{ 10 > percent ? "0" + percent : percent }}%
        </div>
        <div class="preloader__logo">
          <!--<img src="~assets/icons/footer-logo.svg" alt="">-->
          <LogoIcon class="" rel="icon" />
        </div>
        <div class="preloader__nextp">
          <svg-icon name="next" />
          NEXTPAGE
        </div>
        <div class="preloader__text" v-html="preloaderText"></div>
      </div>
    </transition>
    <div class="vbar_inst" data-el1 v-bar v-view>
      <div>
        <Header />

        <main :class="'main-' + page" class="main">
          <nuxt />
        </main>

        <Panel />
        <Menu />

        <FormPopup />
      </div>
    </div>

    <div class="cursor" id="cursor">
      <div class="cursor__deco"></div>
    </div>
    <div class="cursor__follower" id="cursor-follower">
      <div class="cursor__follower__deco"></div>
    </div>
  </div>
</template>

<script>
import Header from "@/components/Header";
import Panel from "@/components/Panel";
import Menu from "@/components/Menu";
import { mapActions, mapState } from "vuex";
import lottie from "lottie-web";
import LogoIcon from "@/static/logo-wt-text.svg?inline";
import FormPopup from "@/components/FormPopup";

export default {
  data() {
    return {
      structure: null,
      percent: 0
    };
  },
  components: {
    Header,
    Panel,
    Menu,
    LogoIcon,
    FormPopup
  },
  computed: {
    ...mapState(["page", "loading"]),
    loading() {
      return this.$store.getters.loading;
    },
    preloaderText() {
      return this.$store.state.preloader_text;
    },
    projectBg() {
      return this.$store.state.projectBg;
    }
  },
  created() {
    // this.$store.dispatch()
  },
  mounted() {

    let vh = window.innerHeight * 0.01,
      vw = window.innerWidth * 0.01;

    document.documentElement.style.setProperty("--vh", vh + "px");
    document.documentElement.style.setProperty("--vw", vw + "px");

    if (
      this.$route.name === "category-id" ||
      this.$route.name === "category-id-gallery" ||
      this.$route.name === "category-id-info" ||
      this.$route.name === "article"
    ) {
      if (this.$mq !== "sm" && this.$mq !== "xs") {
        document.querySelector(".cta-btn").style.display = "none";
        document.getElementById("ctaCanvas").style.display = "none";
      }
    } else {
      if (this.$mq !== "sm" && this.$mq !== "xs") {
        document.querySelector(".cta-btn").style.display = "block";
        document.getElementById("ctaCanvas").style.display = "block";
      }
    }

    if (
      this.$route.name.indexOf("category") >= 0 ||
      this.$route.name === "index"
    ) {
      /*document.querySelector(".menu").classList.remove("menu--white");
            document.querySelector(".panel__language").classList.remove("white");
            document.querySelector(".socials-box__content").classList.remove("white");*/

      this.$store.dispatch("setPanelsWhite", false);
    } else {
      // console.log(document.querySelector(".panel__language"))
      /*document.querySelector(".menu").classList.add("menu--white");
            document.querySelector(".panel__language").classList.add("white");
            document.querySelector(".socials-box__content").classList.add("white");*/

      this.$store.dispatch("setPanelsWhite", true);
    }

    if (this.$route.name === "article") {
      document.querySelector(".panel").style.display = "none";
    } else {
      document.querySelector(".panel").style.display = "flex";
    }

    /*if (!(document.location.href.indexOf("public") > 0) || !(document.location.href.indexOf("living") > 0)) {
                  if (this.$mq !== 'sm' && this.$mq !== 'xs') {
                      document.querySelector(".cta-btn").style.display = "block";
                      document.getElementById("ctaCanvas").style.display = "block";
                  }
                  document.querySelector(".menu").classList.add("menu--white");
              } else {
                  if (this.$mq !== 'sm' && this.$mq !== 'xs') {
                      document.querySelector(".cta-btn").style.display = "none";
                      document.getElementById("ctaCanvas").style.display = "none";
                  }
                  document.querySelector(".menu").classList.remove("menu--white");
              }
      */
    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");
    const _inst = this;

    if (this.$mq !== "sm" && this.$mq !== "xs") {
      window.addEventListener("mousemove", e => {
        this.cursorFollow(e);
      });
    } else {
      this.dot.style.display = "none";
      this.circle.style.display = "none";
    }

    this.structure = lottie.loadAnimation({
      name: "clock",
      container: this.$refs.clock, // the dom element that will contain the animation
      renderer: "svg",
      loop: true,
      autoplay: false,
      path:
        window.location.protocol + "//" + window.location.host + "/data.json" // the path to the animation json
    });

    setTimeout(() => {
      this.structure.setSpeed(0.4);
      //this.structure.goToAndStop(100);
      //this.structure.setDirection(-1);
      this.structure.play();
    }, 0);

    //setTimeout(this.finishLoading, 12000)

    var text = document.querySelector(".preloader__text"),
      textSplit = new this.$SplitText(text, {
        type: "words, chars",
        linesClass: "overflow-h"
      }),
      textSplitChars = textSplit.chars;

    text.style.opacity = 1;

    this.$gsap.TweenMax.staggerFromTo(
      textSplitChars,
      1,
      { y: 300 },
      { y: 0 },
      "0.02"
    );

    let loadIntervalThree = setInterval(() => {
      this.percent++;

      if (this.percent === 100) {
        clearInterval(loadIntervalThree);
        setTimeout(this.finishLoading, 1000);
      }
    }, 50);

    /*setTimeout(() => {
                  clearInterval(loadInterval);
                  var loadIntervalTwo;
  
                  setTimeout(() => {
                      loadIntervalTwo = setInterval(() => {
                          _inst.percent++;
                      }, 60);
  
                      setTimeout(() => {
                          clearInterval(loadIntervalTwo);
                          var loadIntervalThree;
  
                          setTimeout(() => {
  
  
                          }, 1000);
  
                      }, 900);
  
                  }, 1300);
  
              }, 1500);*/
  },
  watch: {
    $route(to, from) {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
      this.$store.dispatch("closeFormModal");

      if (!from.name.includes("category-id")) {
        this.$store.dispatch("setProjectPrev", from);
      }

      const posterClone = document.querySelector(
        ".project-card__poster--clone"
      );

      if (to.name !== "category-id" && posterClone) {
        this.$gsap.TweenMax.to(posterClone, 1, {
          autoAlpha: 0,
          onComplete: () => {
            posterClone.remove();
          }
        });
      }

      if (
        to.name === "category-id" ||
        to.name === "category-id-gallery" ||
        to.name === "category-id-info" ||
        this.$route.name === "article"
      ) {
        if (this.$mq !== "sm" && this.$mq !== "xs") {
          document.querySelector(".cta-btn").style.display = "none";
          document.getElementById("ctaCanvas").style.display = "none";
        }
      } else {
        if (this.$mq !== "sm" && this.$mq !== "xs") {
          document.querySelector(".cta-btn").style.display = "block";
          document.getElementById("ctaCanvas").style.display = "block";
        }
      }

      if (to.name === "article") {
        document.querySelector(".panel").style.display = "none";
      } else {
        document.querySelector(".panel").style.display = "flex";
      }

      setTimeout(() => {
        if (to.name.indexOf("category") >= 0 || this.$route.name === "index") {
          /*document.querySelector(".menu").classList.remove("menu--white");
                document.querySelector(".panel__language").classList.remove("white");
                document.querySelector(".socials-box__content").classList.remove("white");*/

          this.$store.dispatch("setPanelsWhite", false);
        } else {
          this.$store.dispatch("setPanelsWhite", true);

          /*document.querySelector(".menu").classList.add("menu--white");
                document.querySelector(".panel__language").classList.add("white");
                document.querySelector(".socials-box__content").classList.add("white");*/
        }
      }, 600);

      /*setTimeout(() => {
                      if (document.location.href.indexOf("public") > 0 || document.location.href.indexOf("living") > 0) {
                          if (this.$mq !== 'sm' && this.$mq !== 'xs') {
                              document.querySelector(".cta-btn").style.display = "none";
                              document.getElementById("ctaCanvas").style.display = "none";
                          }
      
                      } else {
                          if (this.$mq !== 'sm' && this.$mq !== 'xs') {
                              document.querySelector(".cta-btn").style.display = "block";
                              document.getElementById("ctaCanvas").style.display = "block";
                          }
      
                      }
                  }, 2000);*/
    }
  },

  methods: {
    ...mapActions(["finishLoading"]),
    cursorFollow(e) {
      var x = e.clientX + "px",
        y = e.clientY + "px";
      this.$gsap.TweenMax.to(this.dot, 0, {
        y: y,
        x: x,
        z: 0
      });
      this.$gsap.TweenMax.to(this.circle, 0, {
        y: y,
        x: x,
        z: 0
      });
    }
  }
};
</script>

<style lang="scss">
.vb-content {
  & > * {
    box-sizing: border-box !important;
  }
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  transition: background-color $tr-duration $tr-timing $tr-duration;

  &-category,
  &-category-id,
  &-category-id-gallery,
  &-category-id-info,
  &-category-list {
    background-color: $color-accent;
  }

  &-category-id,
  &-category-id-gallery,
  &-category-id-info {
    //background-color: var(--projectBg);
    //transition: none;

    transition: background-color $tr-duration $tr-timing;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: $color-dark;

  &__animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-family: $font-primary;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
    line-height: 26px;
    text-align: center;
    transform: translateX(-50%);
    opacity: 0;

    &:before {
      position: absolute;
      top: -45px;
      left: 50%;
      width: 5px;
      height: 5px;
      content: "";
      border-radius: 50%;
      background-color: #fff;
      transform: translateX(-50%);
    }
  }

  &__logo,
  &__nextp,
  &__percent {
    position: absolute;
    top: calc(50% + 120px);
    transform: translateY(-50%);
  }

  &__logo {
    left: 20px;
  }

  &__percent {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__nextp {
    right: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;

    svg {
      width: 17px;
      height: 17px;
      margin-right: 5px;
    }
  }

  @media screen and (min-width: 2500px) {
    &__text {
      font-size: 2rem;
      line-height: 1;
    }
  }
  @media screen and (max-width: 450px) {
    &__text {
      width: 80%;
    }

    &__animation {
      top: 40%;
    }

    .preloader__logo,
    .preloader__nextp,
    .preloader__percent {
      top: calc(40% + 120px);
    }
  }
}
</style>
