<template>
  <div class="error-container">
    <h1>404</h1>
    <h4>
      {{ activeLang === "ru" ? "Эта страница отсутствует" : "Page not found" }}
    </h4>
    <nuxt-link to="/">
      {{ activeLang === "ru" ? "На главную" : "Home" }}
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: ["error"],
  computed: {
    activeLang() {
      return this.$store.state.activeLang;
    }
  },
  mounted() {
    setTimeout(() => {
      document.querySelector(".menu").classList.add("menu--white");
      document.querySelector(".menu__btn").classList.remove("menu__btn--light");
    }, 500);
  },
  beforeDestroy() {
    /*if (process.browser) {
        document.querySelector(".menu").classList.remove("menu--white");
      }*/
  }
};
</script>

<style lang="scss">
.error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $color-dark;

  h4 {
    margin-bottom: 55px;
  }
}
</style>
