<template>
  <transition name="test">
    <div class="about-inner">
      <div class="about-content">
        <div class="about-inner__top">
          <div class="about-inner__title" v-view.once="titleHandler">
            <h3 class="h1 about-inner__title-h1">
              {{ about.title }}
            </h3>
          </div>
        </div>

        <div class="about-content__subtitle-zone">
          <section class="about-text">
            <div class="about-text__left">
              <div
                class="about-content__subtitle"
                v-view.once="subTitleHandler"
              >
                <h3 class="about__subtitle-h3">
                  {{ about.about_block.title }}
                </h3>
              </div>
            </div>
            <div class="about-text__right">
              <div class="about-text__right-text" v-view.once="textHandler">
                <h4>{{ about.about_block.text }}</h4>
              </div>
            </div>
          </section>

          <section class="about-photos" v-view.once="photosHandler">
            <div
              :key="i"
              class="about-photos__photo"
              v-for="(photo, i) in about.about_photos"
            >
              <img :src="photo" alt="" />
            </div>
          </section>
        </div>

        <section class="about-awards">
          <div class="about-awards__title">
            <h3 v-view.once="awardsTitleHandler">
              {{ about.about_awards.title }}

              <span v-if="$mq === 'xs'">
                scroll >
              </span>
            </h3>
          </div>

          <div
            :class="
              about.about_awards.awards.length < 3 && $mq !== 'xs'
                ? 'justify-content-center'
                : about.about_awards.awards.length <= 4 && $mq === 'xlg'
                ? 'justify-content-center'
                : ''
            "
            class="about-awards__awards"
          >
            <div class="about-awards__inner" v-view.once="awardsHandler">
              <div
                :key="i"
                class="about-award"
                v-for="(award, i) in about.about_awards.awards"
              >
                <div class="about-award__palm">
                  <img alt="" src="~assets/icons/palm.svg" />
                </div>
                <div class="about-award__palm">
                  <img alt="" src="~assets/icons/palm.svg" />
                </div>
                <div class="about-award__title">
                  <h3>{{ award.title }}</h3>
                </div>
                <div class="about-award__mark">
                  <h4>{{ award.mark }}</h4>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <section class="about-philosophy">
        <div
          class="about-philosophy__top"
          v-view.once="philosophyTitlesHandler"
        >
          <h3 class="h1">
            {{ about.about_philosophy.title }}
          </h3>
          <button
            :key="i"
            @click="scrollBlock(i)"
            type="button"
            v-for="(btn, i) in about.about_philosophy.links"
          >
            <span>{{ btn }}</span>
            <span>{{ i + 1 }}</span>
          </button>
        </div>

        <div
          :id="'block' + i"
          :key="i"
          class="about-philosophy__text"
          v-for="(text, i) in about.about_philosophy.texts"
          v-view.once="philosophyTextHandler"
        >
          <h3>({{ i + 1 }})</h3>
          <h4>
            {{ text }}
          </h4>
        </div>
      </section>

      <section class="about-us">
        <div class="digest-grid">
          <div
            :class="block.type"
            :key="i"
            class="digest-block about-us-block"
            v-for="(block, i) in about.about_us"
            v-if="
              i < 3 &&
                block.type !== 'full-text' &&
                block.type !== 'full-square'
            "
            v-view.once="digestHandler"
          >
            <div class="digest-block__inner">
              <h4
                @click="$router.push(block.link)"
                class="digest-block__title"
                v-if="block.type === 'half-square'"
              >
                {{ block.title }}
              </h4>
              <h4
                class="digest-block__title"
                v-if="block.type === 'half-round'"
              >
                {{ block.title }}
              </h4>

              <div
                class="digest-block__marks"
                v-if="block.type === 'half-square'"
              >
                <span class="digest-block__tag">
                  {{ block.mark }}
                </span>
                <span class="digest-block__dot"></span>
              </div>

              <div class="digest-block__media">
                <div class="half-round__img" v-if="block.type === 'half-round'">
                  <div class="about__half-round">
                    <img :src="block.img" alt="" />
                  </div>

                  <span
                    @click="expandGallery($event, block)"
                    class="half-round__count"
                  >
                    +{{ block.gallery.length }}
                  </span>
                </div>
                <div
                  @click="$router.push(block.link)"
                  class="half-square__img"
                  v-else
                >
                  <img :src="block.img" alt="" />
                </div>
              </div>

              <div
                class="about-us-block__person"
                v-if="block.type === 'half-square'"
              >
                <div class="about-us-block__name">{{ block.name }}</div>
                <div class="about-us-block__occup">{{ block.occup }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="digest-grid">
          <div
            :class="block.type"
            :key="i"
            class="digest-block about-us-block"
            v-for="(block, i) in about.about_us"
            v-if="
              i > 2 &&
                block.type !== 'full-text' &&
                block.type !== 'full-square'
            "
            v-view.once="digestHandler"
          >
            <div class="digest-block__inner">
              <h4
                @click="$router.push(block.link)"
                class="digest-block__title"
                v-if="block.type === 'half-square'"
              >
                {{ block.title }}
              </h4>
              <h4
                class="digest-block__title"
                v-if="block.type === 'half-round'"
              >
                {{ block.title }}
              </h4>

              <div
                class="digest-block__marks"
                v-if="block.type === 'half-square'"
              >
                <span class="digest-block__tag">
                  {{ block.mark }}
                </span>
                <span class="digest-block__dot"></span>
              </div>

              <div class="digest-block__media">
                <div class="half-round__img" v-if="block.type === 'half-round'">
                  <div class="about__half-round">
                    <div class="about__half-round">
                      <img :src="block.img" alt="" />
                    </div>
                  </div>

                  <span
                    @click="expandGallery($event, block)"
                    class="half-round__count"
                  >
                    +{{ block.gallery.length }}
                  </span>
                </div>
                <div
                  @click="$router.push(block.link)"
                  class="half-square__img"
                  v-else
                >
                  <img :src="block.img" alt="" />
                </div>
              </div>

              <div
                class="about-us-block__person"
                v-if="block.type === 'half-square'"
              >
                <div class="about-us-block__name">{{ block.name }}</div>
                <div class="about-us-block__occup">{{ block.occup }}</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="about-bottom">
        <div
          @click="$router.push(about.about_bottom.link)"
          class="digest-first"
          ref="digestFirst"
        >
          <h3 class="digest-first__title">
            {{ about.about_bottom.link_text }}
          </h3>
          <div class="digest-first__bg">
            <img :src="about.about_bottom.img" alt="background" />
          </div>
        </div>
      </section>
      <Footer />
    </div>
  </transition>
</template>

<script>
import Footer from "@/components/Footer";

if (process.client) {
  //const ScrollToPlugin = require('~/assets/vendor/ScrollToPlugin')
}

export default {
  computed: {
    about() {
      return this.$store.state.about.about;
    }
  },
  data() {
    return {
      morePostsShowed: false
    }
  },
  mounted() {
    console.log(this.$mq);

    const awards = document.querySelectorAll(".about-award"),
      digestBlocks = document.querySelectorAll(".about-us-block");

    this.$gsap.TweenMax.set(awards, {
      y: 50,
      autoAlpha: 0
    });
    this.$gsap.TweenMax.set(digestBlocks, {
      y: 100,
      autoAlpha: 0
    });
    this.$gsap.TweenMax.set(".about-photos__photo", {
      y: 50,
      autoAlpha: 0
    });
    this.$gsap.TweenMax.set(".about-philosophy__top", { autoAlpha: 0 });
  },
  methods: {
    createBlockElement(element) {
      return `<div class="digest-block about-us-block half-square">
                  <div class="digest-block__inner">
                    <h4 class="digest-block__title">
                      ${element.title}
                    </h4>
                    <div class="digest-block__marks">
                      <span class="digest-block__tag">
                        ${element.mark ? element.mark : ""}
                      </span>
                      <span class="digest-block__dot"></span>
                    </div>

                    <div class="digest-block__media">
                      <div class="half-square__img">
                        <img src="${element._600}" alt="" />
                      </div>
                    </div>

                    <div class="about-us-block__person">
                      <div class="about-us-block__name">${element.name}</div>
                      <div class="about-us-block__occup">${
                        element.position
                      }</div>
                    </div>
                  </div>
                </div>`;
    },
    expandGallery(ev, block) {
      if(this.morePostsShowed) return;

      const gallery = block.gallery;
      let parentBlock;

      if (!("path" in Event.prototype)) {
        Object.defineProperty(Event.prototype, "path", {
          get: function() {
            var path = [];
            var currentElem = ev.target;
            while (currentElem) {
              path.push(currentElem);
              currentElem = currentElem.parentElement;
            }
            if (path.indexOf(window) === -1 && path.indexOf(document) === -1)
              path.push(document);
            if (path.indexOf(window) === -1) path.push(window);
            return path;
          }
        });
      }

      for (let i = 0; i < ev.path.length; i++) {
        if (ev.path[i].classList.contains("digest-block")) {
          parentBlock = ev.path[i];
          break;
        }
      }

      for (let j = 0; j < gallery.length; j++) {
        const markup = this.createBlockElement(gallery[j]);
        parentBlock.insertAdjacentHTML("afterend", markup);
      }

      this.morePostsShowed = true;
    },
    digestHandler(e) {
      this.$gsap.TweenMax.to(
        e.target.element,
        1,
        {
          y: 0,
          autoAlpha: 1
        },
        "0.1"
      );
    },
    philosophyTextHandler(e) {
      let text = e.target.element.children[1],
        textLine = new this.$SplitText(text, { type: "lines" }),
        textLines = textLine.lines;

      this.$gsap.TweenMax.staggerFromTo(
        textLines,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        },
        "0.05"
      );
    },
    philosophyTitlesHandler(e) {
      this.$gsap.TweenMax.set(e.target.element, { autoAlpha: 1 });
      this.$gsap.TweenMax.staggerFromTo(
        e.target.element.children,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        },
        "0.1"
      );
    },
    awardsHandler(e) {
      const awards = document.querySelectorAll(".about-award");

      this.$gsap.TweenMax.staggerTo(
        awards,
        1,
        {
          y: 0,
          autoAlpha: 1
        },
        "0.1"
      );
    },
    awardsTitleHandler(e) {
      let title = e.target.element;

      this.$gsap.TweenMax.fromTo(
        title,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        }
      );
    },
    photosHandler(e) {
      this.$gsap.TweenMax.staggerTo(
        e.target.element.children,
        1,
        {
          y: 0,
          autoAlpha: 1
        },
        "0.1"
      );
    },
    titleHandler(e) {
      let title = document.querySelector(".about-inner__title-h1");

      this.$gsap.TweenMax.fromTo(
        title,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        }
      );
    },
    subTitleHandler(e) {
      let title = document.querySelector(".about__subtitle-h3");

      this.$gsap.TweenMax.fromTo(
        title,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        }
      );
    },
    textHandler(e) {
      let title = document.querySelector(".about-text__right-text");

      this.$gsap.TweenMax.fromTo(
        title,
        1,
        {
          y: 20,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        }
      );
    },
    scrollTo(element, to, duration) {
      var start = element.scrollTop,
        change = to - 100,
        currentTime = 0,
        increment = 20,
        _inst = this;

      var animateScroll = function() {
        currentTime += increment;

        var val = _inst.easeInOutQuad(currentTime, start, change, duration);
        element.scrollTop = val;
        if (currentTime < duration) {
          setTimeout(animateScroll, increment);
        }
      };
      animateScroll();
    },
    easeInOutQuad(t, b, c, d) {
      t /= d / 2;
      if (t < 1) return (c / 2) * t * t + b;
      t--;
      return (-c / 2) * (t * (t - 2) - 1) + b;
    },
    scrollBlock(num) {
      //const scrollTo = this.$ScrollToPlugin;
      const scrollContainer = document.querySelector(".vb-content"),
        block = document.querySelector(`#block${num}`),
        blockTop = block.getBoundingClientRect().top;
      //console.log(scrollContainer);
      if (process.client) {
        this.scrollTo(scrollContainer, blockTop, 500);
        //this.$gsap.TweenMax.to(scrollContainer, 1, {scrollTo: {y: "#block1", offsetY: 50}});
      }
    }
  },
  transition: {
    name: "test",
    css: false,
    beforeEnter(el) {
      console.log("about be!");
      this.$gsap.TweenMax.set(el, {
        opacity: 0
      });
    },
    enter(el, done) {
      console.log("about enter!");
      this.$gsap.TweenMax.to(el, 1, {
        opacity: 1,
        onComplete() {
          done();
        }
      });
    },
    leave(el, done) {
      console.log("about leave!");
      this.$gsap.TweenMax.to(el, 1, {
        opacity: 0,
        onComplete() {
          done();
        }
      });
    }
  },
  components: {
    Footer
  }
};
</script>
