<template>
  <div class="page-inner">
    <div class="container-fluid">
      <div class="row pb-5">
        <div class="col-12 col-md-5 offset-md-1">
          <h1>{{ contacts.title }}</h1>
        </div>
        <div class="col-12 col-md-5 d-flex align-items-center">
          <menu class="contact-box__nav">
            <li
              :class="{ 'is-active': activeOffice === office.id }"
              :key="office.city"
              @click="changeOffice(office.id)"
              class="contact-box__nav_link"
              v-for="office in offices"
            >
              {{ office.city }}
            </li>
          </menu>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-5 offset-md-1">
          <transition mode="out-in" name="fade">
            <div
              :key="office.city + index"
              class="contact-box"
              v-for="(office, index) in offices"
              v-if="activeOffice === office.id"
            >
              <div class="row">
                <div class="col-12 col-md-5 mb-4">
                  <address class="address">
                    {{ getFullAddress(office) }}
                  </address>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 mb-5">
                  <a
                    :href="office.mapLink.link"
                    class="address-link mb-3"
                    target="_blank"
                    title=""
                  >
                    <span class="address-link__icon">
                      <GoogleIcon class="icon icon-google" />
                    </span>
                    <span class="address-link__title">
                      {{ office.mapLink.text }}
                    </span>
                  </a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-12 col-md-6">
                  <a
                    :href="'tel:+' + phone.data"
                    :key="phone.label"
                    class="address-phone"
                    title="Ab phone number"
                    v-for="phone in office.phoneBox"
                    >{{ phone.label }}
                  </a>
                </div>
                <div class="col-12 col-md-6">
                  <a
                    :href="'mailto:' + mail.data"
                    :key="mail.label"
                    class="address-mail"
                    title="Ab e-mail"
                    v-for="mail in office.mailBox"
                    >{{ mail.label }}
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="address-schedule">
                    <div class="address-schedule__time">
                      {{ office.scheduleBox.title }}
                    </div>
                    <div class="address-schedule__description">
                      {{ office.scheduleBox.description }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </transition>
        </div>
        <div class="col-12 col-md-5">
          <div class="contacts-socials">
            <a
              :href="social.link"
              :key="i"
              v-for="(social, i) in contacts.contacts_socials"
            >
              <img :src="social.icon" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GoogleIcon from "@/assets/icons/google.svg?inline";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    GoogleIcon
  },
  mounted() {
    this.changeActiveOfficeId(this.offices[0].id);
  },
  computed: {
    ...mapGetters({
      offices: "offices/getOffices",
      activeOffice: "offices/getActiveOfficeId"
    }),
    contacts() {
      return this.$store.state.contacts.contacts;
    }
  },
  methods: {
    ...mapActions({
      changeActiveOfficeId: "offices/changeActiveOfficeId"
    }),
    changeOffice(id) {
      if (this.activeOffice === id) return;

      this.changeActiveOfficeId(id);
    },
    getFullAddress(office) {
      return office.city + ", " + office.address;
    }
  },
  transition: {
    css: false,
    beforeEnter(el) {
      console.log("CONTACTS bef ent");
      this.$gsap.TweenMax.set(el, {
        opacity: 0
      });
    },
    enter(el, done) {
      console.log("CONTACTS etr");
      this.$gsap.TweenMax.to(el, 1, {
        opacity: 1,
        ease: Power2.easeOut,
        onComplete: () => {
          done();
        }
      });
    },
    leave(el, done) {
      console.log("CONTACTS");
      this.$gsap.TweenMax.to(el, 1, {
        opacity: 0,
        ease: Power2.easeIn,
        onComplete: () => {
          done();
        }
      });
    }
  }
};
</script>

<style lang="scss"></style>
