<template>
    <HomeSlider/>
</template>

<script>
	import HomeSlider from "@/components/HomeSlider";

	export default {
		components: {
			HomeSlider
		},
		transition: {
			css: false,
			beforeEnter(el) {
				console.log("INDEX bef ent");
				this.$gsap.TweenMax.set(el, {
					opacity: 0
				});
			},
			enter(el, done) {
				console.log("INDEX etr");
				this.$gsap.TweenMax.to(el, 1, {
					opacity: 1,
					ease: Power2.easeOut,
					onComplete: () => {
						done();
					}
				});
			},
			leave(el, done) {
				console.log("INDEX");
				this.$gsap.TweenMax.to(el, 1, {
					opacity: 0,
					ease: Power2.easeIn,
					onComplete: () => {

						document.getElementById("cursor").classList = "cursor";
						document.getElementById("cursor-follower").classList = "cursor__follower";
						done()
					}
				})
			}
		}
	}
</script>

<style lang="scss">
    .slider {
        position: relative;
        width: 100%;
        height: 100vh;

        &__inner {
            width: 100%;
            height: 100%;
        }

        &__links {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
        &__link {
            padding: 0 0.5rem;

            &.is-disabled {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }

    .slide {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.65;
    }
</style>

