<template>
  <div>
    <div class="services-inner">
      <div class="services-inner__title" v-view.once="titleHandler">
        <h3 class="h1" ref="pageTitle">
          {{ services.title }}
        </h3>
      </div>
      <div class="services-inner__top" v-view.once="tabsHandler">
        <div class="services-inner__tabs">
          <button
            :class="leftContent ? 'active' : ''"
            @click="leftContent = true"
            class="services-inner__tab"
            type="button"
          >
            {{ services.tabs[0] }}
          </button>
          <button
            :class="!leftContent ? 'active' : ''"
            @click="leftContent = false"
            class="services-inner__tab"
            type="button"
          >
            {{ services.tabs[1] }}
          </button>
        </div>
      </div>
      <transition name="fade">
        <div
          class="services-content services-content--public"
          v-show="leftContent"
        >
          <section
            :key="i"
            class="services-section"
            v-for="(section, i) in services.services_public"
          >
            <div class="services-section__left">
              <div class="services-section__title" v-view.once="tabsHandler">
                <h3>
                  {{ section.title }}
                </h3>
              </div>
            </div>
            <div class="services-section__right">
              <div
                :key="j"
                class="services-section__right-text"
                v-for="(text, j) in section.text"
                v-view.once="rightTextHandler"
              >
                <h3>{{ text.subtitle }}</h3>
                <h4>{{ text.text }}</h4>
              </div>
            </div>
          </section>
        </div>
      </transition>
      <transition name="fade">
        <div
          class="services-content services-content--living"
          v-show="!leftContent"
        >
          <section
            :key="i"
            class="services-section"
            v-for="(section, i) in services.services_living"
          >
            <div class="services-section__left">
              <div class="services-section__title" v-view.once="tabsHandler">
                <h3>
                  {{ section.title }}
                </h3>
              </div>
            </div>
            <div class="services-section__right">
              <div
                :key="j"
                class="services-section__right-text"
                v-for="(text, j) in section.text"
                v-view.once="rightTextHandler"
              >
                <h3>{{ text.subtitle }}</h3>
                <h4>{{ text.text }}</h4>
              </div>
            </div>
          </section>
        </div>
      </transition>
    </div>
    <div class="services-bottom" v-view.once="bottomHandler">
      <nuxt-link
        :to="services.services_bottom[0].link"
        class="h1 bottom-link"
        v-if="leftContent"
      >
        {{ services.services_bottom[0].link_text }}
      </nuxt-link>
      <nuxt-link
        :to="services.services_bottom[1].link"
        class="h1 bottom-link"
        v-if="!leftContent"
      >
        {{ services.services_bottom[1].link_text }}
      </nuxt-link>
    </div>
    <Footer />
  </div>
</template>

<script>
import Footer from "@/components/Footer";

export default {
  data() {
    return {
      leftContent: true,
      hideHeader: null,
      vueBarState: null,
      mainTitle: null,
    };
  },
  computed: {
    services() {
      return this.$store.state.services.services;
    }
  },
  created() {
    this.leftContent = this.$route.query.category === "public";
  },
  mounted() {
    this.mainTitle = this.$refs.pageTitle;

    this.$gsap.TweenMax.set(".bottom-link", {
      scale: 0.8,
      autoAlpha: 0
    });
    this.$gsap.TweenMax.set(this.mainTitle, {
      y: 50,
      autoAlpha: 0
    });
    this.$gsap.TweenMax.set(".services-inner__top", {
      y: 50,
      autoAlpha: 0
    });
    this.$gsap.TweenMax.set(
      document.querySelectorAll(".services-section__title"),
      {
        y: 50,
        autoAlpha: 0
      }
    );

    for (let text of [
      ...document.querySelectorAll(".services-section__right-text")
    ]) {
      this.$gsap.TweenMax.set(text, { autoAlpha: 0 });
    }
  },
  methods: {
    bottomHandler(e) {
      this.$gsap.TweenMax.to(e.target.element.children[0], 1, {
        scale: 1,
        autoAlpha: 1
      });
    },
    rightTextHandler(e) {
      let title = e.target.element.children[0],
        text = e.target.element.children[1],
        textLine = new this.$SplitText(text, { type: "lines" }),
        textChars = textLine.lines;

      this.$gsap.TweenMax.set(e.target.element, { autoAlpha: 1 });
      this.$gsap.TweenMax.fromTo(
        title,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        }
      );
      this.$gsap.TweenMax.staggerFromTo(
        textChars,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        },
        "0.05"
      );
    },
    tabsHandler(e) {
      this.$gsap.TweenMax.to(e.target.element, 0.5, {
        y: 0,
        autoAlpha: 1
      });
    },
    titleHandler(e) {
      this.$gsap.TweenMax.fromTo(
        this.mainTitle,
        1,
        {
          y: 50,
          autoAlpha: 0
        },
        {
          y: 0,
          autoAlpha: 1
        }
      );
    },
    changeContent() {
      ///isLeftContent = !
    }
  },
  watch: {
    leftContent() {
      const scrollContainer = document.querySelector(".vb-content");
      setTimeout(() => {
        scrollContainer.scrollTop = scrollContainer.scrollTop + 5;
        scrollContainer.scrollTop = scrollContainer.scrollTop - 5;
      }, 500);
    }
  },
  components: {
    Footer
  },
  transition: {
    appear: true,
    css: false,
    beforeEnter(el) {
      console.log("services be!");

      this.$gsap.TweenMax.set(el, { opacity: 0 });
    },
    enter(el, done) {
      console.log("services enter!");

      this.$gsap.TweenMax.to(el, 1, {
        opacity: 1,
        onComplete() {
          done();
        }
      });
    },
    leave(el, done) {
      console.log("category leave!");

      this.$gsap.TweenMax.to(el, 1, {
        opacity: 0,
        onComplete() {
          done();
        }
      });
    }
  }
};
</script>
