// Fonts
$font-default: ("Aeroport", "Helvetica", "Arial", sans-serif);
$font-accent: ("RoadRadio", "Helvetica", "Arial", sans-serif);
$font-primary: ("CormorantGaramond", "Helvetica", "Arial", sans-serif);

// Colors
$color-dark: #141414;
$color-accent: #AC9898;
$color-primary: #A6A0A1;
$color-black: #000;
$color-white: #fff;

// Grid
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 414px, pl: 667px, tablet: 768px, md: 1024px, lg: 1366px, xl: 1680px, hd: 2500px, full: 2560px);
$container-max-widths: (pl: 640px, tablet: 740px, md: 1000px, lg: 1300px, xl: 1620px, hd: 1860px, full: 2480px);

$gutter: $grid-gutter-width;

// Z-index
$z-header: 100;
$z-menu: 110;
$z-socials: 90;

// Transition
$tr-duration: 0.5s;
$tr-timing: ease;
$transition-base: all 0.3s ease-in-out;
