<template>
  <section class="project-gallery">
    <template v-if="gallery.length > 0">
      <div class="project-gallery__top">
        <div
          @click="goBack"
          @mouseenter="makeCloseCursor"
          @mouseleave="makeDefaultCursor"
          class="project-gallery__close"
        ></div>
        <div @click="nextImg" class="project-gallery__next"></div>
        <div class="project-gallery__main">
          <client-only>
            <!--					:class="index === count ? 'active' : ''"-->
            <div
              :class="index === count ? 'active' : ''"
              :key="`img-${index}`"
              class="project-gallery__img"
              v-for="(link, index) in gallery"
              v-show="index === count"
            >
              <img :src="link" alt="" />
            </div>
          </client-only>
        </div>
      </div>

      <div class="project-gallery__bottom">
        <div class="project-gallery__thumbs">
          <div
            :class="index === count ? 'active' : ''"
            :key="`img-${index}`"
            @click="changeImg(index)"
            class="project-gallery__thumb"
            v-for="(link, index) in thumbs"
          >
            <img :src="link" alt="" />
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="project-gallery__no-photo">
        <h4>
          {{
            activeLang === "ru"
              ? "К сожалению, в галерее пока нет изображений"
              : "Sorry, there's no images"
          }}
        </h4>
        <button
          @click="$router.back()"
          class="category__description"
          type="button"
        >
          {{ activeLang === "ru" ? "Назад" : "Go back" }}
        </button>
      </div>
    </template>
  </section>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      count: 0,
      thumbsEls: null,
      timeline: null
    };
  },
  methods: {
    makeCloseCursor(ev) {
      this.dot.classList.add("cursor--close", "cursor--close-white");
      this.circle.classList.add(
        "cursor__follower--close",
        "cursor__follower--close-white"
      );
    },
    makeArrowsCursor(ev) {
      this.dot.classList.add("cursor--arrows");
      this.circle.classList.add("cursor__follower--arrows");
    },
    makeDefaultCursor(ev) {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
    },
    nextImg() {
      if (this.count + 1 === this.gallery.length) {
        this.count = 0;
      } else {
        this.count += 1;
      }
    },
    prevImg() {
      if (this.count === 0) {
        this.count = this.gallery.length - 1;
      } else {
        this.count -= 1;
      }
    },
    goBack() {
      this.$router.push({
        path: "/" + this.project.category + "/" + this.project.slug
      });
    },
    changeImg(idx) {
      this.count = idx;
    },
    changeImageOnKeyboard(ev) {
      var event = window.event ? window.event : ev;

      if (event.keyCode === 37) {
        this.prevImg();
      } else if (event.keyCode === 39) {
        this.nextImg();
      }
    }
  },
  computed: {
    ...mapGetters({
      getProject: "projects/getProjectById"
    }),
    project() {
      //console.log(this.$route.params.id);
      return this.getProject(parseInt(this.$route.params.id))[0];
    },
    screenSize() {
      if (process.client) {
        return window.innerWidth > 1440
          ? "_1920"
          : window.innerWidth <= 1440 && window.innerWidth > 1024
          ? "_1440"
          : "_600";
      }
    },
    host() {
      if (process.client) {
        return window.location.protocol + "//" + window.location.host;
      }
    },
    gallery() {
      let arr = [];

      for (let i = 0; i < this.project.gallery.length; i++) {
        arr.push(this.project.gallery[i][this.screenSize]);
      }

      return arr;
    },
    thumbs() {
      let arr = [];
      for (let i = 0; i < this.project.gallery.length; i++) {
        arr.push(this.project.gallery[i]["_600"]);
      }
      return arr;
    },
    activeLang() {
      return this.$store.state.activeLang;
    }
  },
  mounted() {
    const main = document.querySelector(".main");
    main.style.backgroundColor = this.project.background;

    document.querySelector("header").style.display = "none";
    document.querySelector(".panel").style.display = "none";

    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");

    window.addEventListener("keydown", this.changeImageOnKeyboard);
  },
  beforeDestroy() {
    const main = document.querySelector(".main");
    main.style.backgroundColor = "";

    document.querySelector("header").style.display = "flex";
    document.querySelector(".panel").style.display = "flex";

    this.makeDefaultCursor();
  },
  transition: {
    appear: true,
    css: false,
    beforeEnter(el) {
      console.log("project gallery be!");
      this.thumbsEls = el.querySelectorAll(".project-gallery__thumb");

      this.$gsap.TweenMax.set(el, { opacity: 0 });
    },
    enter(el, done) {
      console.log("project gallery enter!");
      this.timeline = new this.$gsap.TimelineMax({
        onComplete: () => {
          done();
        }
      })
        .addLabel("start")
        .to(el, 0.6, {
          opacity: 1
        });
    },
    leave(el, done) {
      console.log("project gallery leave!");

      this.timeline.eventCallback("onReverseComplete", () => {
        done();
      });
      this.timeline.reverse();
    }
  }
};
</script>
