<template>
  <div class="project">
    <!--		<div class="project__bg" :style="{backgroundColor: projectBg}"></div>-->
    <div class="project__inner">
      <div class="project__preview" ref="projectPreview">
        <div class="project__title-overlay">
          <h1 class="h2 project__title">
            {{ project.title }}
          </h1>
        </div>
        <img :src="project.poster._1440" alt="" v-show="!isPoster" />
      </div>

      <button
        @click.prevent="navigateToCategory"
        class="button button--circle button--light button--xl project__btn-back"
        role="button"
      >
        <AddIcon class="icon icon-cancel icon--dark" />
      </button>

      <!--<div
        @mousedown="setDrag"
        @mousemove="dragBtn"
        @mouseup="placeBtn"
        class="project__next-area"
        draggable="false"
        v-if="isThereNextProject"
      ></div>-->
      <button
        :title="
          activeLang === 'ru'
            ? 'Перейти к следующему проекту'
            : 'Go to the next project'
        "
        @click="navigateToNextProject"
        class="button button--circle button--light button--xl project__btn-next"
        ref="nextBtn"
        role="button"
        v-if="isThereNextProject"
      >
        <ArrowRight class="icon icon--right icon--stroke icon--dark" />
      </button>

      <menu class="project__nav">
        <li class="project__nav_link">
          <button @click="navigateToGallery" type="button">
            {{ activeLang === "ru" ? "Все фото" : "All photos" }}
          </button>
        </li>
        <li class="project__nav_link">
          <button @click="navigateToInfo" type="button">
            {{ activeLang === "ru" ? "О проекте" : "About project" }}
          </button>
        </li>
      </menu>
    </div>
  </div>
</template>

<script>
import AddIcon from "@/assets/icons/add.svg?inline";
import ArrowRight from "@/assets/icons/arrow-right.svg?inline";
import { mapGetters } from "vuex";

export default {
  validate({ params, store }) {
    return store.state.projects.projects.some(
      project =>
        project.category === params.category &&
        +project.slug === parseInt(params.id)
    );
  },
  data() {
    return {
      isPoster: true,
      dragStart: 0,
      friction: 0.7,
      canDrag: false,
      elements: null,
      projectCat: null
    };
  },
  components: {
    AddIcon,
    ArrowRight
  },
  computed: {
    ...mapGetters({
      getProject: "projects/getProjectById",
      getProjects: "projects/getProjectsByCategory"
    }),
    prevRouteName() {
      return this.$store.state.projectPrev
        ? this.$store.state.projectPrev.name
        : null;
    },
    project() {
      return this.getProject(parseInt(this.$route.params.id))[0];
    },
    projectsByCat() {
      return this.getProjects(this.project.category);
    },
    projectBg() {
      // return "#bd1408"
      return this.project.background;
    },
    projectIndex() {
      return this.projectsByCat.findIndex((el, i) => {
        return this.project.slug === el.slug;
      });
    },
    isThereNextProject() {
      return !!this.projectsByCat[this.projectIndex + 1];
    },
    activeLang() {
      return this.$store.state.activeLang;
    }
  },
  created() {
    /*if (process.browser) {
                      }*/
  },
  mounted() {
    this.projectCat = this.project.category;

    const main = document.querySelector(".main");
    main.style.backgroundColor = this.projectBg;

    /*console.log(this.projectBg)
                      const newBg = this.projectBg ? this.projectBg : "#AC9898";
                      document.documentElement.style.setProperty('--projectBg', newBg);*/

    let layout = this.$nuxt.$el,
      layoutRect = layout.getBoundingClientRect(),
      originWidth = layoutRect.width * 0.8,
      originHeight = (layoutRect.height / 12) * 8 + 6;

    if (this.$mq === "sm" || this.$mq === "xs") {
      originWidth = layoutRect.width * 0.8;
      originHeight = (layoutRect.height / 12) * 6;
    }

    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");

    this.$refs.projectPreview.style.width = originWidth + "px";
    this.$refs.projectPreview.style.height = originHeight + "px";

    const poster = document.querySelector(".project-card__poster--clone");

    if (poster) {
      poster.style.zIndex = 0;
      this.isPoster = true;
    } else {
      this.isPoster = false;
    }
  },
  beforeDestroy() {
    const main = document.querySelector(".main");
    main.style.backgroundColor = "";
    //root.style.setProperty('--projectBg', "#AC9898");

    if (this.projectCat !== this.$route.params.category) {
      this.$store.dispatch("setScrollDepth", 0);
    }
  },
  methods: {
    /*dragEnd(ev) {},
        setDrag(ev) {
          this.dragStart = ev.clientX;
          this.canDrag = true;
          console.log("drag start");
          // console.log(this.canDrag);
          // console.log(this.dragStart);
        },
        dragBtn(ev) {
          if (!this.canDrag) return false;
          var btn = this.$refs.nextBtn,
            deltaX = this.dragStart - ev.clientX,
            transform = -deltaX + this.friction;
          //console.log(transform);
          // console.log(ev.clientX);
          console.log(this.friction);
    
          if (Math.ceil(this.friction) >= 10) {
            this.$gsap.TweenMax.killAll(false, true, true, true);
    
            ev.preventDefault();
            this.navigateToNextProject();
            this.canDrag = false;
            return false;
          }
    
          if (this.friction < 0) {
            this.placeBtn();
            ev.preventDefault();
            return false;
          }
    
          if (btn) {
            var tween = this.$gsap.TweenMax.to(btn, 0.1, {
              x: transform,
              y: 0,
              z: 0
            });
          }
    
          if (transform <= 0) {
            this.friction += 1;
          } else {
            this.friction -= 1;
          }
    
          //console.log(ev);
        },
        hideCursor(ev) {
          this.$gsap.TweenMax.to(this.dot, 0.1, { autoAlpha: 0 });
          this.$gsap.TweenMax.to(this.circle, 0.1, { autoAlpha: 0 });
        },
        showCursor(ev) {
          this.$gsap.TweenMax.to(this.dot, 0.1, { autoAlpha: 1 });
          this.$gsap.TweenMax.to(this.circle, 0.1, { autoAlpha: 1 });
        },
        placeBtn(ev) {
          var btn = this.$refs.nextBtn;
    
          if (btn) {
            this.$gsap.TweenMax.to(btn, 0.3, { x: 0, y: 0, z: 0 });
          }
          this.canDrag = false;
          this.friction = 0;
        },
        moveBtn(ev) {
          var rect = ev.currentTarget.getBoundingClientRect(),
            btn = this.$refs.nextBtn,
            elX = ev.x - rect.left - btn.offsetWidth,
            elY = ev.y - rect.top - btn.offsetHeight;
    
          this.$gsap.TweenMax.to(btn, 0.3, { x: elX, y: elY, z: 0 });
        },*/
    navigateToCategory() {
      if (!this.prevRouteName) {
        this.$router.push({ name: "category" });
        return;
      }

      if (this.prevRouteName.includes("digest")) {
        this.$router.push({ name: "digest" });
      } else if (this.prevRouteName.includes("category-list")) {
        this.$router.push({ name: "category-list" });
      } else {
        this.$router.push({ name: "category" });
      }
    },
    navigateToGallery() {
      this.$router.push({
        path: "/" + this.project.category + "/" + this.project.slug + "/gallery"
      });
    },
    navigateToInfo() {
      this.$router.push({
        path: "/" + this.project.category + "/" + this.project.slug + "/info"
      });
    },
    navigateToNextProject() {
      if (this.isThereNextProject) {
        this.$router.push({
          path:
            "/" +
            this.project.category +
            "/" +
            this.projectsByCat[this.projectIndex + 1].slug
        });
      }
    }
  },
  transition: {
    appear: true,
    css: false,
    beforeEnter(el) {
      console.log("project be!");

      this.elements = [
        el.querySelector(".project__title"),
        el.querySelector(".project__preview"),
        ...el.querySelectorAll(".project__nav_link"),
        ...el.querySelectorAll(".button")
      ];

      this.$gsap.TweenMax.set(this.elements, {
        opacity: 0,
        y: 50
      });
    },
    enter(el, done) {
      console.log("project enter!");

      this.$gsap.TweenMax.staggerTo(
        this.elements,
        0.6,
        {
          opacity: 1,
          y: 0,
          ease: Power2.easeOut
        },
        0.1
      );
      done();
    },
    leave(el, done) {
      console.log("project leave!");
      const poster = document.querySelector(".project-card__poster--clone");
      if (poster) {
        const posterImg = poster.querySelector("img");
        this.$gsap.TweenMax.to(posterImg, 0.7, {
          autoAlpha: 0,
          scale: 0.9,
          transformOrigin: "50% 50%",
          ease: Power2.easeIn,
          onComplete: () => {
            poster.remove();
          }
        });
      }

      this.$gsap.TweenMax.to(el, 0.7, {
        scale: 0.9,
        opacity: 0,
        ease: Power2.easeIn,
        onComplete: () => {
          done();
        }
      });
    }
  }
};
</script>

<style lang="scss"></style>
