<template>
  <section
    @click="goBack"
    @mouseenter="makeCloseCursor"
    @mouseleave="makeDefaultCursor"
    class="project-info"
    ref="projectInfo"
  >
    <div class="project-info__top">
      <h3 class="h1 project-info__title">
        {{ project.title }}
      </h3>
    </div>
    <div class="project-info__info">
      <div class="project-info__left">
        <div class="project-info__left-block">
          <p>{{ project.date }}</p>
          <p class="text-uppercase">{{ project.category }}</p>
          <p>{{ project.type }}</p>
          <p>{{ project.location }}</p>
        </div>

        <div class="project-info__left-block" v-show="project.architect">
          <p>
            {{
              activeLang === "ru"
                ? "Главный архитектор проекта"
                : "The chief architect of the project"
            }}
          </p>
          <p>{{ project.architect }}</p>
        </div>

        <div class="project-info__left-block" v-show="project.designer">
          <p>
            {{ activeLang === "ru" ? "Дизайнер" : "Designer" }}
          </p>
          <p>{{ project.designer }}</p>
        </div>

        <div class="project-info__left-block" v-show="project.advisor">
          <p>
            {{
              activeLang === "ru"
                ? "Консультант по Искусству"
                : "Art Consultant"
            }}
          </p>
          <p>{{ project.advisor }}</p>
        </div>

        <div class="project-info__left-block" v-show="project.collaboration">
          <p>
            {{
              activeLang === "ru" ? "В коллаборации с" : "In collaboration with"
            }}
          </p>
          <p>{{ project.collaboration }}</p>
        </div>

        <div class="project-info__left-block" v-show="project.photographer">
          <p>
            {{ activeLang === "ru" ? "Фотограф" : "Photographer" }}
          </p>
          <p>{{ project.photographer }}</p>
        </div>

        <div class="project-info__left-block" v-show="project.decorator">
          <p>
            {{ activeLang === "ru" ? "Декоратор" : "Decorator" }}
          </p>
          <p>{{ project.decorator }}</p>
        </div>

        <div class="project-info__left-block" v-show="project.visualizer_3d">
          <p>
            {{ activeLang === "ru" ? "3D визуализатор" : "3D visualizer" }}
          </p>
          <p>{{ project.visualizer_3d }}</p>
        </div>
      </div>
      <div class="project-info__right">
        <h4 class="project-info__right-text">{{ project.description }}</h4>
      </div>
    </div>
  </section>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      titleLine: null,
      textLines: null,
      textBlock: null,
      timeline: null
    };
  },
  methods: {
    goBack() {
      this.$router.push({
        path: "/" + this.project.category + "/" + this.project.slug
      });
    },
    makeCloseCursor(ev) {
      this.dot.classList.add("cursor--close");
      this.circle.classList.add("cursor__follower--close");
    },
    makeDefaultCursor(ev) {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
    }
  },
  computed: {
    ...mapGetters({
      getProject: "projects/getProjectById"
    }),
    project() {
      //console.log(this.$route.params.id);
      return this.getProject(parseInt(this.$route.params.id))[0];
    },
    activeLang() {
      return this.$store.state.activeLang;
    }
  },
  mounted() {
    const main = document.querySelector(".main");
    main.style.backgroundColor = this.project.background;

    this.dot = document.getElementById("cursor");
    this.circle = document.getElementById("cursor-follower");
    if (process.client) {
      const header = document.querySelector(".header");
      this.$refs.projectInfo.style.paddingTop = header.offsetHeight + "px";
    }
  },
  beforeDestroy() {
    const main = document.querySelector(".main");
    main.style.backgroundColor = "";

    this.makeDefaultCursor();
  },
  transition: {
    appear: true,
    css: false,
    beforeEnter(el) {
      console.log("project info be!");

      const title = el.querySelector(".project-info__title");
      this.textLines = el.querySelectorAll(".project-info__left p");
      this.textBlock = el.querySelector(".project-info__right-text");

      this.titleLine = new this.$SplitText(title, { type: "words, chars" });
      this.titleChars = this.titleLine.chars;

      this.$gsap.TweenMax.set(el, { opacity: 0 });
      this.$gsap.TweenMax.set(this.titleChars, { y: 50, autoAlpha: 0 });
      this.$gsap.TweenMax.set(this.textLines, { y: 50, autoAlpha: 0 });
      this.$gsap.TweenMax.set(this.textBlock, { y: 50, autoAlpha: 0 });
    },
    enter(el, done) {
      console.log("project info enter!");

      this.timeline = new this.$gsap.TimelineMax({
        onComplete: () => {
          done();
        }
      })
        .addLabel("start")
        .to(el, 0.3, { opacity: 1 }, "start")
        .staggerTo(
          this.titleChars,
          0.3,
          { y: 0, autoAlpha: 1 },
          "0.05",
          "start+=0.3"
        )
        .staggerTo(
          this.textLines,
          0.3,
          { y: 0, autoAlpha: 1 },
          "0.05",
          "start+=0.7"
        )
        .to(this.textBlock, 0.3, { y: 0, autoAlpha: 1 }, "start+=0.8");
    },
    leave(el, done) {
      console.log("project info leave!");
      this.timeline.eventCallback("onReverseComplete", () => {
        done();
      });
      this.timeline.reverse();
    }
  }
};
</script>
