<template>
  <div>
    <button
      @click="$router.push({ name: 'category-list' })"
      class="category-goto-listing"
    >
      <span></span><span></span>
    </button>

    <Gallery :category="category" @mouseenter="cursorDefault">
      <div class="category__letters" v-html="splittedCategoryName"></div>
    </Gallery>

    <div class="category__information">
      <h1 class="h1 category__title">{{ category }}</h1>
      <button
        @click="navigateToServices"
        class="category__description"
        type="button"
      >
        {{ btnText }}
      </button>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Gallery from "@/components/Gallery";

export default {
  data() {
    return {
      titleLine: null,
      titleChars: null,
      descriptionLine: null,
      descriptionChars: null
    };
  },
  validate({ params }) {
    if (params.category === "public" || params.category === "living") {
      return true;
    }
  },
  components: {
    Gallery
  },
  computed: {
    ...mapState(["loading"]),
    btnText() {
      return this.activeLang === "ru" ? "Услуги" : "Services";
    },
    category() {
      return this.$route.params.category;
    },
    splittedCategoryName() {
      let chars = this.category.split("");

      return chars.map(char => `<span>${char}</span>`).join("");
    },
    activeLang() {
      return this.$store.state.activeLang;
    }
  },
  methods: {
    navigateToServices() {
      this.$router.push({
        path: "/services",
        query: { category: this.category }
      });
    },
    cursorDefault() {
      this.dot.classList = "cursor";
      this.circle.classList = "cursor__follower";
    }
  },
  watch: {
    activeLang() {
      const btn = document.querySelector(".category__description");

      btn.innerText = "";
      btn.innerText = this.btnText;
    }
  },
  transition: {
    appear: true,
    css: false,
    beforeEnter(el) {
      console.log("category be!");

      const catTitle = el.querySelector(".category__title");
      const catDesc = el.querySelector(".category__description");

      this.$gsap.TweenMax.set(el.querySelectorAll(".project-card"), {
        scale: 0.8,
        opacity: 0
      });
      /*this.$gsap.TweenMax.set(el.querySelectorAll(".category__information"), {
                      xPercent: -20,
                      opacity: 0
                    });*/
      this.$gsap.TweenMax.set([catTitle, catDesc], {
        opacity: 0
      });

      this.titleLine = new this.$SplitText(catTitle, { type: "words, chars" });
      this.titleChars = this.titleLine.chars;
      this.descriptionLine = new this.$SplitText(catDesc, {
        type: "words, chars"
      });
      this.descriptionChars = this.descriptionLine.chars;

      new this.$gsap.TimelineMax()
        .set(this.titleChars, { y: 50, autoAlpha: 0 })
        .set(this.descriptionChars, { y: 50, autoAlpha: 0 });
    },
    enter(el, done) {
      console.log("category enter!");

      setTimeout(() => {
        el.querySelector(".category__letters").classList.add("is-show");
      }, 0);

      setTimeout(() => {
        new this.$gsap.TimelineMax()
          .addLabel("start")
          .to(el.querySelector(".category__title"), 0.1, { opacity: 1 })
          .to(
            el.querySelector(".category__description"),
            0.1,
            { opacity: 1 },
            "-0.1"
          )
          .staggerTo(
            this.titleChars,
            0.5,
            { y: 0, autoAlpha: 1 },
            "0.04",
            "start"
          )
          .staggerTo(
            this.descriptionChars,
            0.5,
            { y: 0, autoAlpha: 1 },
            "0.04",
            "start"
          )
          .to(
            el.querySelectorAll(".project-card"),
            1,
            {
              scale: 1,
              opacity: 1,
              ease: Power2.easeOut,
              onComplete: () => {
                done();
              }
            },
            "start+=0.5"
          );
      }, 300);

      /* .to(el.querySelectorAll(".category__information"), 0.6, {
                                 xPercent: 0,
                                 opacity: 1
                             }, "+=0.2")*/
      // done();
    },
    leave(el, done) {
      console.log("category leave!");

      if (el.querySelector(".category__letters"))
        el.querySelector(".category__letters").classList.remove("is-show");

      new this.$gsap.TimelineMax()
        .to(el.querySelectorAll(".project-card"), 1, {
          scale: 0.8,
          opacity: 0,
          ease: Power2.easeIn
        })
        .staggerTo(this.titleChars, 0.2, { y: 50, autoAlpha: 0 }, "0.03")
        .staggerTo(
          this.descriptionChars,
          0.2,
          {
            y: 50,
            autoAlpha: 0
          },
          "0.03"
        )
        .to(el, 0.5, {
          autoAlpha: 0,
          onComplete: () => {
            done();
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.category-goto-listing {
  position: fixed;
  top: calc(1.5rem + 15px);
  left: 3rem;
  z-index: 102;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 15px;
  height: 15px;
  padding: 0;
  border: none;
  background-color: transparent;

  span {
    position: relative;
    width: 6px;
    height: 15px;
    margin-bottom: 3px;
    background-color: #141414;

    &:before {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      content: "";
      background-color: #ac9898;
    }

    &:first-of-type {
      &:before {
        top: 4px;
      }
    }

    &:last-of-type {
      &:before {
        top: 8px;
      }
    }
  }

  @media screen and (max-width: 567px) {
    top: calc(2rem + 15px);
    left: 4.5rem;
  }
}
</style>
