.digest-header {
	position: fixed;
	left: 0;
	width: 100%;
	padding: 1.5rem 3rem;
	background-color: $color-dark;
	z-index: 101;

	&__links {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		margin-right: 5px;
		padding: 10px 24px;
		background-color: transparent;
		border: none;
		color: $white;
		border-radius: 20px;

		span {
			position: absolute;
			top: 5px;
			right: 10px;
			font-size: 0.625rem;
			opacity: 0.3;
		}

		&.active {
			color: $black;
			background-color: $white;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 15px;

		&__links {
			white-space: nowrap;
			overflow-x: auto;
			justify-content: flex-start;

			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}

		&__btn {
			/*padding: 10px 0;
			flex: 0 0 110px;

			span{
				right: 0;
			}*/
		}
	}
}
