.digest-block {
  position: relative;
  padding-top: 55%;
  background-color: $color-dark;
  border: 1px solid #252525;
  margin: 0 -1px -1px 0;

  a {
    display: block;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 2.5rem;
  }

  &__title {
    min-height: 4.375rem;
    margin-bottom: 1.5rem;
  }

  &__marks {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    background-color: $white;
    border-radius: 50%;
  }

  &__mark {
    color: rgba(255, 255, 255, 0.3);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*&--digest {
		animation: fade-in 2s ease-in-out;
	}*/

  &__quote {
    position: relative;
    width: 75%;
    margin: 15px auto 0 auto;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 18px;
    line-height: 22px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    font-family: $font-primary;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      transform: translateX(-50%);
      width: 15px;
      height: 15px;
      background-image: url(~assets/icons/Quote.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  /*&--digest{
		animation: fade-in 0.5s ease-in-out;
	}*/

  @media screen and (min-width: 1680px) {
    padding-top: 50%;
  }

  @media screen and (max-width: 768px) {
    width: 100% !important;
    padding-top: 0 !important;
    &__inner {
      position: static !important;
      transform: none !important;
      width: 100% !important;
      padding: 2.5rem 15px;
    }

    &__title {
      max-width: none !important;
      width: 100% !important;
    }

    &__quote {
      width: 90%;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.half-square,
.half-round {
  width: 50%;
}

.full-square,
.full-text {
  width: 100%;
}

.half-square .digest-block {
  &__inner {
    width: 65%;
  }
}

.half-square {
  &__img {
    position: relative;
    width: 100%;
    padding-top: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.half-round {
  &__img {
    position: relative;
    height: 34rem;

    img,
    span {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
    }

    img {
      z-index: -1;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 2rem;
      line-height: 2rem;
      letter-spacing: 4px;
      font-family: $font-accent;
      z-index: 2;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #1a1a1a;
        z-index: -1;
        transition: $transition-base;
        transform-origin: center center;
      }

      &:hover:before {
        transform: scale(1.2);
      }

      &.half-round__count--big {
        font-size: 5rem;
      }
    }

    @media screen and (min-width: 1680px) {
      height: 40rem;

      img,
      span {
        width: 25rem;
        height: 25rem;
      }
    }
  }

  .digest-block {
    &__marks {
      justify-content: center;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.full-square,
.full-text {
  .digest-block {
    &__inner {
      width: 80%;
    }

    &__title {
      max-width: 50%;
    }
  }
}

.full-text {
  &.digest-block {
    padding-top: 35%;
  }

  .digest-block {
    &__inner {
      //top: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 60%;
      //transform: translate(-50%, -50%);
    }

    &__marks {
    }
  }

  &__title {
    order: 2;
  }

  @media screen and (min-width: 1300px) {
    &.digest-block {
      padding-top: 30%;
    }

    .digest-block {
      &__inner {
        padding-top: 0;
      }
    }
  }
}

.full-square {
  &__video {
    position: relative;
    width: 100%;
    padding-top: 40%;

    /*.plyr {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 0;

			&__poster {
				display: none;
			}
		}*/

    & > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    background-color: $white;
    font-family: $font-accent;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 4px;
    color: $color-dark;
    border-radius: 50%;
    z-index: 1;
    display: none;
  }

  &__img {
    position: relative;
    width: 100%;
    padding-top: 33%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 1300px) {
    padding-top: 45%;

    &__video {
      padding-top: 35%;
    }
  }
  @media screen and (min-width: 1680px) {
    padding-top: 40%;

    &__video {
      padding-top: 33%;
    }
  }

  @media screen and (max-width: 768px) {
    &__img {
      padding-top: 100%;
    }
    &__video {
      padding-top: 0;

      & > div {
        position: relative;
      }
    }
  }
}

.ytp-chrome-top,
.ytp-chrome-bottom {
  display: none !important;
}
